<div *ngFor="let banner of banners" class="banner" [style.background-image]="banner">
    <div class="banner__description">
        <!-- <h1>
            Unique springtime gifts
        </h1>
        <button class="banner__control">
            Check
        </button> -->
    </div>
</div>

<div class="bv-wrapper">
    <div class="our-advantages">
        <div class="our-advantages__list">
            <div class="our-advantages__item" *ngFor="let item of ourAdvantagesList">
                <div class="our-advantages__left">
                    <fa-icon icon="truck" *ngIf="item.icon === 'trunk'" flip="horizontal"></fa-icon>
                    <fa-icon icon="history" *ngIf="item.icon === 'history'"></fa-icon>
                    <fa-icon icon="lock" *ngIf="item.icon === 'lock'"></fa-icon>
                </div>
                <div class="our-advantages__rigth">
                    <h3 class="our-advantages__title">{{item.title}}</h3>
                    <div class="our-advantages__description">
                        {{item.description}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="main-content">
        <div class="main-content__sidebar">
            <div class="list-category">
                <div class="list-category__control" (click)="chnageCollapsed()">
                    <span class="list-category__icon">
                        <fa-icon icon="outdent"></fa-icon>
                    </span>
                    All Products
                </div>
                <ul [ngClass]="{'collapse_ul': collapsedMenuCategory}" class="list-category__ul">
                    <li class="list-category__item" *ngFor="let category of categoryList" [routerLink]="['/'+ translate.currentLang +'/category', category.id]">
                        <!-- | collectionUrl -->
                        {{category.name}}
                    </li>
                </ul>
            </div>
            <div class="advertising">
                <a *ngIf="advertising['sideBar_first'].link" [href]="advertising['sideBar_first'].link">
                    <img [src]="advertising['sideBar_first'].source">
                </a>

                <img *ngIf="advertising['sideBar_first'].category || 
                    (!advertising['sideBar_first'].link || !advertising['sideBar_first'].category)" 
                    [routerLink]="['/'+ translate.currentLang +'/category', advertising['sideBar_first'].category]"
                    [src]="advertising['sideBar_first'].source">
            </div>
            <div class="paypal">
                <a *ngIf="advertising['sideBar_second'].link" [href]="advertising['sideBar_second'].link">
                    <img [src]="advertising['sideBar_second'].source">
                </a>

                <img *ngIf="advertising['sideBar_second'].category || 
                    (!advertising['sideBar_second'].link || !advertising['sideBar_second'].category)" 
                    [routerLink]="['/'+ translate.currentLang +'/category', advertising['sideBar_second'].category]"
                    [src]="advertising['sideBar_second'].source">
            </div>
        </div>
        
        <div class="main-content__grid">
            <div class="best-deal">
                <div class="best-deal__image">
                    <a *ngIf="advertising['top_first'].link" [href]="advertising['top_first'].link">
                        <img [src]="advertising['top_first'].source">
                    </a>
                    <img *ngIf="advertising['top_first'].category || (!advertising['top_first'].category && !advertising['top_first'].link)" [src]="advertising['top_first'].source" 
                        [routerLink]="['/'+ translate.currentLang +'/category', advertising['top_first'].category]">
                    <!-- <img src="../../../../assets/bestvouchers/best-deal-mobile.jpg"> -->
                </div>
                <div class="best-deal__vouchers">
                    <div class="best-deal__nested-image">
                        
                        <ng-container *ngIf="!advertising['top_second'].product">
                            <div *ngIf="advertising['top_second'].product" class="best-deal__nested-name">
                                {{advertising['top_second'].product.translations[0].name}}
                            </div>
    
                            <a *ngIf="advertising['top_second'].link" [href]="advertising['top_second'].link">
                                <img [src]="advertising['top_second'].source">
                            </a>
                            <img *ngIf="advertising['top_second'].category || 
                                (!advertising['top_second'].link && !advertising['top_second'].category)" [src]="advertising['top_second'].source" 
                                [routerLink]="['/'+ translate.currentLang +'/category', advertising['top_second'].category]">
                        </ng-container>

                        <ng-container *ngIf="advertising['top_second'].product">
                            <div class="best-deal__nested-name">
                                {{advertising['top_second'].product.translations[0].name}}
                            </div>
    
                            <img *ngIf="advertising['top_second'].category || 
                                (!advertising['top_second'].link && !advertising['top_second'].category)" [src]="advertising['top_second'].source" 
                                [routerLink]="['/'+ translate.currentLang +'/product', advertising['top_second'].product.translations[0].slug]">
                        </ng-container>

                    </div>
                    <!-- <div class="best-deal__nested-price">
                        <span class="best-deal__nested-new-price">$48.00</span>
                        <span class="best-deal__nested-old-price">$60.00</span>
                    </div> -->
                </div>
            </div>
            <div class="advertising__mobile">
                <div class="advertising__mobile-column">
                    <div class="advertising-mobile">
                        <img src="../../../../assets/bestvouchers/baner.jpg">
                    </div>
                </div>
                <div class="advertising__mobile-column">
                    <div class="best-deal-mobile">
                        <div class="best-deal-mobile__image">
                            <!-- <img src="../../../../assets/bestvouchers/best-deal.jpg"> -->
                            <img src="../../../../assets/bestvouchers/best-deal-mobile.jpg">
                        </div>
                        <div class="best-deal-mobile__vouchers">
                            <div class="best-deal-mobile__nested-image">
                                <div class="best-deal-mobile__nested-name">
                                    Romantic flight by plane for two
                                </div>
                                <img src="../../../../assets/bestvouchers/best-deal-2.jpg">
                                <div class="best-deal-mobile__nested-price">
                                    <span class="best-deal-mobile__nested-new-price">$48.00</span>
                                    <span class="best-deal-mobile__nested-old-price">$60.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="paypal-mobile">
                        <img src="../../../../assets/bestvouchers/paypal.jpeg">
                    </div>
                </div>
            </div>
            <div class="products">
                <div class="products__bar">
                    <div class="products__most-popular">
                        <h3 class="products__title">MOST POPULAR BY CATEGORY</h3>
                        <div class="products__control">
                            <button class="products__control-button" (click)="toggleMainSliderNext(false)">
                                <fa-icon icon="caret-left"></fa-icon>
                            </button>
                            <button class="products__control-button" (click)="toggleMainSliderNext(true)">
                                <fa-icon icon="caret-right"></fa-icon>
                            </button>
                        </div>
                    </div>
                    <div class="products__tabs">
                        <div (click)="changeActiveMenu(category)" 
                            [ngClass]="{'active-tab': category.id == +initIdCategory}" 
                            class="products__tab" *ngFor="let category of categoryList">
                            {{category.name}}
                        </div>
                    </div>
                </div>
                <div [@apperCategory]="hiddenItems ? 'hidden' : 'appear'" class="products__list" *ngIf="listVendersInitialCategory.length">
                    <div class="products__row" [ngStyle]="{'transform': offsetMainSlider}">
                        <ng-container *ngFor="let product of listVendersInitialCategory; let even = even">
                            <bv-product-card *ngIf="even" [product]="product" [mode]="false"></bv-product-card>
                        </ng-container>
                    </div>
                    <div class="products__row" [ngStyle]="{'transform': offsetMainSlider}">
                        <ng-container *ngFor="let product of listVendersInitialCategory; let odd = odd">
                            <bv-product-card *ngIf="odd"  [product]="product" [mode]="false"></bv-product-card>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="advertising">
                <div class="advertising__row">
                    <div class="advertising__small-box">
                        <a *ngIf="advertising['bottom_firstRow_first'].link" [href]="advertising['bottom_firstRow_first'].link">
                            <img [src]="advertising['bottom_firstRow_first'].source">
                        </a>

                        <img *ngIf="advertising['bottom_firstRow_first'].category || 
                            (!advertising['bottom_firstRow_first'].link || !advertising['bottom_firstRow_first'].category)" 
                            [routerLink]="['/'+ translate.currentLang +'/category', advertising['bottom_firstRow_first'].category]"
                            [src]="advertising['bottom_firstRow_first'].source">
                    </div>
                    <div class="advertising__small-box">
                        <a *ngIf="advertising['bottom_firstRow_second'].link" [href]="advertising['bottom_firstRow_second'].link">
                            <img [src]="advertising['bottom_firstRow_second'].source">
                        </a>

                        <img *ngIf="advertising['bottom_firstRow_second'].category || 
                            (!advertising['bottom_firstRow_second'].link || !advertising['bottom_firstRow_second'].category)" 
                            [routerLink]="['/'+ translate.currentLang +'/category', advertising['bottom_firstRow_second'].category]"
                            [src]="advertising['bottom_firstRow_second'].source">
                    </div>
                </div>
                <div class="advertising__row">
                    <div class="advertising__big-box"> 
                        <a *ngIf="advertising['bottom_secondRow'].link" [href]="advertising['bottom_secondRow'].link">
                            <img [src]="advertising['bottom_secondRow'].source">
                        </a>

                        <img *ngIf="advertising['bottom_secondRow'].category || 
                            (!advertising['bottom_secondRow'].link || !advertising['bottom_secondRow'].category)" 
                            [routerLink]="['/'+ translate.currentLang +'/category', advertising['bottom_secondRow'].category]"
                            [src]="advertising['bottom_secondRow'].source">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <bv-slider></bv-slider> 
</div>
