.banner {
    padding: 1rem;
    color: #d2d2d2;
    background-size: cover;
    position: relative;
    background-position: bottom;
    height: 537px;
    font-family: 'Open Sans',sans-serif;
    margin-bottom: 35px;

    @media only screen and (max-width: 1199px) {
        height: 350px;
    }

    @media only screen and (max-width: 991px) {
        height: 270px;
    }
    
    @media only screen and (max-width: 767px) {
        display: none;
    }

    &__description {
        position: absolute;
        left: 13%;
        top: 30%;

        @media only screen and (max-width: 991px) {
            top: 10%;
        }
    }

    h1 {
        font-size: 4rem;
        font-weight: 700;
        color: #fff;
    }

    &__control {
        background-color: #2d265a;
        border: 0;
        color: #fff;
        text-transform: capitalize;
        padding: 0 40px;
        height: 48px;
        font-family: 'Open Sans',sans-serif;
        font-size: 2rem;
        margin-top: 10px;
        transition: background-color 0.2s linear;

        &:hover {
            background-color: #fa4157;
        }
    }
}

.our-advantages {
    padding: 0 15px;
    margin-bottom: 40px;

    @media only screen and (max-width: 767px) {
        margin-top: 30px;
    }

    &__list {
        display: flex;
        justify-content: space-between;

        @media only screen and (max-width: 767px) {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    &__item {
        width: 30%;
        display: flex;
        @media only screen and (max-width: 767px) {
            width: 100%;
            flex-direction: column;
            align-items: center;
            margin-bottom: 40px;
        }
    }

    &__left {
        width: 20%;
        i {
            color: #ff4357;
            font-size: 4.6rem;
        }
    }

    &__rigth {
        width: 80%;
        display: flex;
        flex-direction: column;
       
        @media only screen and (max-width: 767px) {
            width: 100%;
        }
    }

    &__title {
        font-family: 'Open Sans',sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 1.7rem;

        @media only screen and (max-width: 767px) {
            margin-bottom: 10px;
        }
    }

    &__description {
        font-family: 'Open Sans',sans-serif;
        font-size: 1.4rem;
    }
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15px;
    &__sidebar {
        width: 25%;
        padding-right: 30px;

        @media only screen and (max-width: 991px) {
            display: none;
        }

        .advertising {
            img {
                max-width: 100%;
                height: auto;
            }
        }

        .paypal {
            img {
                max-width: 100%;
                height: auto;
            }
        }
    }

    .list-category {
        &__control {
            line-height: 27px;
            color: #fff;
            text-transform: uppercase;
            font-size: 2.4rem;
            font-weight: bold;
            background: #fa4157;
            font-family: 'Open Sans',sans-serif;
            margin: 0;
            padding: 16px 15px;
            border-radius: 5px 5px 0 0;
            display: flex;

            &:hover {
                cursor: pointer;
            }
        }

        &__icon {
            margin-right: 20px;
        }

        &__ul {
            padding: 0px;
            border: 1px solid #dfdfdf;
            transition: max-height 0.2s linear;
            max-height: 1000px;
            transition: all 0.2s linear;
        }

        &__item {
            list-style-type: none;
            border-bottom: 1px solid #dfdfdf;
            font-family: 'Open Sans',sans-serif;
            font-size: 1.7rem;
            padding: 17px 20px 18px;
            &:hover {
                color: #fa4157;
                background-color: #f9f9f9;
                cursor: pointer;
            }

            &:last-child {
                border-bottom: 0;
            }
        }

        .collapse_ul {
            overflow: hidden;
            max-height: 0px;
            border-color: transparent;
        }
    }

    &__grid {
        width: 75%;
        display: flex;
        flex-wrap: wrap;

        @media only screen and (max-width: 991px) {
            width: 100%;
        }
    }

    .best-deal {
        display: flex;
        margin-bottom: 35px;
        width: 100%;

        @media only screen and (max-width: 1199px) {
            justify-content: center;
        }
        @media only screen and (max-width: 575px) {
            flex-direction: column;
            align-items: center;
        }
        &__image {

            img{
                height: 225px;
                
                @media only screen and (max-width: 575px) {
                    max-width: 320px;
                }

                &:first-of-type {
                    @media only screen and (max-width: 1199px) {
                        display: none;
                    }
                }
                &:last-of-type {
                    display: none;
                    @media only screen and (max-width: 1199px) {
                        display: block;
                    }
                }
            }

            .mobile-image {
                display: none;
            }
        }

        &__vouchers {}

        &__nested-image {
            position: relative;

            img {
                max-width: 100%;
                width: 100%;
                height: 180px;
            }
        }

        &__nested-name {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3;
            width: 100%;
            background: rgba(255,255,255,.8);
            color: #333;
            padding: 5px 5px;
            text-align: center;
            font-weight: bold;
            font-size: 15px;
        }

        &__nested-price {
            height: 45px;
            background-color: #fa4157;
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        &__nested-new-price {
            color: #fff;
            font-size: 22px;
        }

        &__nested-old-price {
            color: #161147;
            font-size: 18px;
            text-decoration: line-through;
        }
    }

    .products {
        width: 100%;

        &__bar {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
        }

        &__most-popular {
            display: flex;
            justify-content: space-between;
            width: 100%;
            border-bottom: 1px solid #eee;
            padding-bottom: 10px;
        }

        &__title {
            text-transform: uppercase;
            font-size: 2.2rem;
            font-weight: 700;

            @media only screen and (max-width: 575px) {
                font-size: 1.6rem;
            }
        }

        &__control {
            &-button {
                border: 2px solid #eee;
                height: 34px;
                width: 34px;
                background: none;
                background-color: none;
                border-radius: 3px;
                transition: all 0.2s linear;

                &:first-child {
                    margin-right: 5px;
                }

                i {
                    font-size: 2.5rem;
                    color: #eee;
                }

                &:hover {
                    background: #fa4157;
                    border-color: #fa4157;
                    color: #fff;
                    cursor: pointer;
                }
            }
        }

        &__tabs {
            display: flex;
            flex-wrap: wrap;
            padding-top: 10px;
            max-width: 100%;
        }

        &__tab {
            display: inline-block;
            padding-right: 10px;
            margin-right: 10px;
            border-right: 1px solid #eee;
            font-size: 1.5rem;
            font-family: 'Open Sans',sans-serif;
            transition: all 0.2s linear;
            white-space: nowrap;
            &:hover {
                color: #fa4157;
                cursor: pointer;
            }
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            overflow: hidden;
            min-height: 615px;
        }

        &__row {
            display: flex;
            width: 100%;
            transition: transform 0.3s linear;
            vsf-product-card {
                width: 33.3%;
                padding-left: 15px;
                padding-top: 15px;
                min-width: 33.3%;

                @media only screen and (max-width: 767px) {
                    min-width: 50%;
                }
            }

            vsf-product-card:first-child {
                padding-left: 0px !important;
            }
        }

        .active-tab {
            color: #fa4157;
        }
    }

    .advertising {
        margin-top: 40px;

        &__row {
            display: flex;
            justify-content: space-between;

            &:first-child {
                margin: 0px;
                @media only screen and (max-width: 767px) {
                    flex-direction: column;
                }
            }

            margin-top: 25px;

            @media only screen and (max-width: 767px) {
                margin-top: 0;
            }
        }   

        &__small-box {
            width: 48%;

            @media only screen and (max-width: 767px) {
                width: 100%;
                margin-bottom: 25px;
                text-align: center;
            }

            img {
                max-width: 100%;
                height: auto;
            }
        }  

        &__big-box {
            width: 100%;

            img {
                max-width: 100%;
                height: auto;
            }
        }
    }
}

.top-categories {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    grid-row-gap: 1rem;
    justify-content: space-around;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 220px);
    grid-row-gap: 1rem;
    justify-content: space-around;
}
