.stages {
    display: flex;
    width: auto;
    font-size: 1.6rem;
    padding: 30px 0;
    justify-content: flex-start;
    .stage-wrapper {
        display: flex;
        flex-direction: column;
        .stage {
            width: 250px;
            height: 30px;
            position: relative;
            .stage__line {
                background: #e4e4e4;
                top: 19px;
                height: 7px;
                left: 0;
                position: absolute;
                width: 100%;
            }
        
            .stage__circle {
                background: #e4e4e4;
                height: 38px;
                margin-left: -19px;
                width: 38px;
                border-radius: 50%;
                left: 50%;
                position: absolute;
                top: 0;
            }
        
            .nested {
                background: #fff;
                height: 26px;
                margin-left: -13px;
                top: 6px;
                width: 26px;
                color: #333;
                font-weight: 600;
                font-size: 1.8rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        
            .active {
                background: #ff5501 !important;
            }
        }

        .name {
            width: 100%;
            text-align: center;
            padding-top: 15px;
        }
    }
}

@media only screen and (max-width: 550px) {
    .stages {
        .stage-wrapper {
            .stage {
                width: 200px;
                height: 30px;
                position: relative;
            }
        }
    }
}

@media only screen and (max-width: 430px) {
    .stages {
        .stage-wrapper {
            .stage {
                width: 180px;
                height: 30px;
                position: relative;
            }
        }
    }
}

@media only screen and (max-width: 380px) {
    .stages {
        .stage-wrapper {
            .stage {
                width: 150px;
                height: 30px;
                position: relative;
            }
        }
    }
}
