<div class="stages">
    <!-- <div class="stage-wrapper">
        <div class="stage">
            <div class="stage__line" [class.active]="activeStage === 1"></div>
            <div class="stage__circle" [class.active]="activeStage === 1">
                <div class="stage__circle nested" *ngIf="activeStage !== 1">1</div>
                <div class="stage__circle nested" *ngIf="activeStage === 1">
                    <fa-icon icon="check"></fa-icon>
                </div>
            </div>
        </div>
        <div class="name">Order</div>
    </div> -->
    <div class="stage-wrapper">
        <div class="stage">
            <div class="stage__line" [class.active]="activeStage === 2"></div>
            <div class="stage__circle" [class.active]="activeStage === 2">
                <div class="stage__circle nested" *ngIf="activeStage !== 2">2</div>
                <div class="stage__circle nested" *ngIf="activeStage === 2">
                    <fa-icon icon="check"></fa-icon>
                </div>
            </div>
        </div>
        <div class="name">{{'checkoutStageIndicator.shipping' | translate}}</div>
    </div>
    <div class="stage-wrapper">
        <div class="stage">
            <div class="stage__line" [class.active]="activeStage === 3"></div>
            <div class="stage__circle" [class.active]="activeStage === 3">
                <div class="stage__circle nested" *ngIf="activeStage !== 3">3</div>
                <div class="stage__circle nested" *ngIf="activeStage === 3">
                    <fa-icon icon="check"></fa-icon>
                </div>
            </div>
        </div>
        <div class="name">{{'checkoutStageIndicator.review_payments' | translate}}</div>    
    </div>
</div>