.quick-links {

    .container-q-l {
        max-width: 1200px;
        width: 1200px;
        margin: 0 auto;
    }

    .return-policy {
        font-family: 'Open Sans',sans-serif;

        &__header {
            background-image: url('../../../../assets/bestvouchers/return_policy.jpg');
            min-height: 500px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__caption {
            font-weight: bold;
            font-size: 3.2rem;
            margin-bottom: 20px;
            color: #fff;
        }

        &__description {
            line-height: 23px;
            font-size: 1.5rem;
            color: #fff;
            max-width: 40%;
        }

        &__body {

            .container-q-l {
                display: flex;
                padding: 30px 0;
            }

            &-left {
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    height: auto;
                }
            }

            &-right {
                width: 50%;
                line-height: 23px;
                font-size: 1.5rem;
                color: #212529;

                p {
                    max-width: 100%;
                }
            }
        }
    }

    .delivery {
        font-family: 'Open Sans',sans-serif;

        &__header {
            background-image: url('../../../../assets/bestvouchers/deliever.jpg');
            min-height: 500px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__caption {
            font-weight: bold;
            font-size: 3.2rem;
            margin-bottom: 20px;
            color: #fff;
        }

        &__description {
            line-height: 23px;
            font-size: 1.5rem;
            color: #fff;
            max-width: 40%;
        }

        &__body {

            .container-q-l {
                display: flex;
                padding: 30px 0;
            }

            &-left {
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    height: auto;
                }
            }

            &-right {
                width: 50%;
                line-height: 23px;
                font-size: 1.5rem;
                color: #212529;

                p {
                    max-width: 100%;
                }
            }
        }
    }

    .contact {
        font-family: 'Open Sans',sans-serif;

        &__header {
            background-image: url('../../../../assets/bestvouchers/contact.jpg');
            min-height: 500px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__caption {
            font-weight: bold;
            font-size: 3.2rem;
            margin-bottom: 20px;
            color: #fff;
        }

        &__description {
            line-height: 23px;
            font-size: 1.5rem;
            color: #fff;
            max-width: 40%;
        }

        &__body {
            color: #212529;

            .container-q-l {
                display: flex;
                padding: 30px 0;
            }

            &-left {
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding-right: 40px;

                p {

                    font-size: 1.7rem;
                    font-weight: 700;
                }

                button {
                    margin-top: 20px;
                    background-color: #eb3f57;
                    color: #fff;
                    padding: 10px 20px;
                    border-radius: 5px;
                    font-weight: 600;
                    font-size: 1.9rem;
                    border: none;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            &-right {
                width: 50%;
                line-height: 23px;
                font-size: 1.5rem;

                .list-location-header {
                    font-size: 1.7rem;
                    margin-bottom: 10px;

                    strong {
                        font-weight: 600;
                    }
                }

                .list-location {
                    display: flex;
                    flex-wrap: wrap;
                    list-style: none;
                    padding: 0px;

                    &__item {
                        width: 50%;
                        padding-top: 10px;
                    }

                    &__name {

                    }

                    &__email {

                    }
                }
            }
        }
    }

    .check-your-order {

        .container-q-l {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__header {
            color: #595e6f;
            font-size: 3rem;
            text-align: left;
            width: 100%;
            padding: 30px 0 50px 0;
        }

        &__explanation {
            color: #595e6f;
            font-size: 2.5rem;
            text-align: center;
            width: 100%;
            padding-bottom: 40px;
        }

        .form {
            width: 40%;
            display: flex;
            flex-direction: column;

            .form-input {
                padding-top: 15px;
                
                label {
                    font-size: 1.2rem;

                }

                input {
                    background: #fff;
                    background-clip: padding-box;
                    border: 1px solid #c2c2c2;
                    border-radius: 1px;
                    font-size: 14px;
                    height: 32px;
                    padding: 0 9px;
                    width: 100%;
                    box-sizing: border-box;

                    &:focus {
                        outline: 0;
                        border: 1px solid #d7d7d7;
                        box-shadow: 0 1px 5px rgba(0,0,0,0.1);
                    }
                }
            }

            .form-button {
                background: #fa4157;
                text-transform: capitalize;
                padding: 0 20px;
                line-height: 48px;
                height: 48px;
                font-weight: 700;
                color: #fff;
                border: 0;
                border-radius: 5px;
                font-size: 1.7rem;
                align-self: flex-end;
                margin-top: 30px;

                &:hover {
                    background-color: #e80621;
                }
            }
        }
    }
}