<!-- <form class="payment-form mb-5" #paymentForm="ngForm" (submit)="completeOrder()">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
        <span class="input-group-text">
            <fa-icon icon="credit-card"></fa-icon>
        </span>
        </div>
        <input type="text" class="form-control"
               name="cardNumber"
               [required]="true"
               [(ngModel)]="cardNumber"
               placeholder="Credit card #">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="month">Expiry</label>
      </div>
      <select class="custom-select" id="month" name="expMonth" [(ngModel)]="expMonth" [required]="true">
          <option selected [ngValue]="undefined">Month</option>
          <option *ngFor="let month of getMonths()" [ngValue]="month">
              {{ month }}
          </option>
      </select>
      <select class="custom-select" id="year" name="expYear" [(ngModel)]="expYear" [required]="true">
          <option selected [ngValue]="undefined">Year</option>
          <option *ngFor="let year of getYears()" [ngValue]="year">
              {{ year }}
          </option>
      </select>
    </div>

    <button class="btn btn-primary btn-lg"
            [disabled]="paymentForm.pristine || paymentForm.invalid">Complete order</button>
</form> -->

<div class="payments">
    <div class="payments-methods">
        <ul class="payments-methods__list">
            <form>
                <li class="methods-item">
                    <div class="methods-item__header">
                        <div class="methods-item__control">
                            <input type="radio" name="name-methods" (change)="handleChange($event, 1)">
                        </div>
                        <div class="methods-item__picture">
                            <img src="../../../../assets/bestvouchers/paypal.png">
                        </div>
                        <div class="methods-item__info">
                            {{'shippingAddress.paypalInfo' | translate}}
                        </div>
                    </div>
                    <div class="methods-item__body" [ngClass]="{'collapsed': openedItem === 1}">
                        <div class="methods-item__accept">
                            <input class="methods-item__checkbox" type="checkbox" >
                            <p class="methods-item__agreement" (click)="openModalAggrement()">
                               <span class="text">{{'shippingAddress.agreement' | translate}}</span>
                               <span class="asterics">*</span>
                            </p>
                        </div>
                        <div class="payment-wrapper">
                            <bv-paypal-control></bv-paypal-control>
                        </div>
                    </div>
                </li>
                <li class="methods-item">
                    <div class="methods-item__header">
                        <div class="methods-item__control">
                            <input type="radio" name="name-methods" (change)="handleChange($event, 2)">
                        </div>
                        <div class="methods-item__info">
                            {{'shippingAddress.cashDelivery' | translate}}
                        </div>
                    </div>
                    <div class="methods-item__body" [ngClass]="{'collapsed': openedItem === 2}">
                        <div class="methods-item__accept">
                            <input class="methods-item__checkbox" type="checkbox">
                            <p class="methods-item__agreement" (click)="openModalAggrement()">
                                <span class="text">{{'shippingAddress.agreement' | translate}}</span>
                                <span class="asterics">*</span>
                            </p>
                        </div>
                    </div>
                </li>
            </form>
            <!-- <button (click)="addItemStateMutation()">TEST</button> -->
        </ul>
    </div>
</div>
