
.container-c-p {
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
}
.header-card {
    font-size: 30px;
    margin: 20px 0 40px 0;
    color: #595e6f;
    font-family: 'Open Sans',sans-serif;
    font-weight: normal;
}