<vsf-collection-breadcrumbs 
    [breadcrumbs]="breadcrumbs" 
    *ngIf="product" class="mb-2" 
    [linkLast]="true">
</vsf-collection-breadcrumbs>
<div class="container-p-d">
    <div class="content">
        <div class="content__main">
                <div>
                    <h2 class="display-4 product-name">{{ product.name }}</h2>
                    <vsf-asset-gallery 
                        [assets]="product.assets"
                        [selectedAssetId]="product.featuredAsset?.id">
                    </vsf-asset-gallery>
                </div>
                <div class="content__info" #zoomPreviewArea>
                    <!-- <div class="sku">
                        {{ selectedVariant?.sku }}
                    </div> -->
                    <div class="price">
                        {{ selectedVariant?.priceWithTax | formatPrice }}
                    </div>
                    <div class="qty">
                        <span class="qty__label">Qty</span>
                        <input 
                            type="number" 
                            min="0" 
                            max="99" 
                            placeholder="Qty" 
                            [(ngModel)]="qty"
                            class="qty__control">
                        <button [disabled]="qty === 0" class="qty__add" (click)="addToCart(selectedVariant, qty)">
                            Add To Cart
                        </button>
                    </div>
                    <div class="description" [innerHTML]="product.description">
                    </div>
                </div>
        </div>
        <div class="content__additional">
            <div class="content__table">
                <div class="table-header">Details</div>
                <div class="table-row">
                </div>
            </div>
        </div>
    </div>
    
    <vsf-slider></vsf-slider> 
</div>
