<bv-collection-breadcrumbs 
    [breadcrumbs]="breadcrumbs" 
    *ngIf="product" class="mb-2" 
    [linkLast]="true">
</bv-collection-breadcrumbs>
<div class="bv-container container-p-d">
    <div class="product">
        <div class="product__main" *ngIf="product">
            <h1 class="product__caption">{{ product?.name }}</h1>
            <div class="product__image">
                <bv-asset-gallery 
                    [assets]="product?.assets"
                    [selectedAssetId]="product?.featuredAsset?.id">
                </bv-asset-gallery>
            </div>
            <div class="product__info" #zoomPreviewArea>
                <!-- <div class="sku">
                    {{ selectedVariant?.sku }}
                </div> -->
                <div class="price">
                    {{ selectedVariant?.priceWithTax | formatPrice }}
                </div>
                <div class="qty">
                    <span class="qty__label">{{'productDetail.qtyProduct' | translate}}</span>
                    <input 
                        type="number" 
                        min="0" 
                        max="99" 
                        placeholder="Qty" 
                        [(ngModel)]="qty"
                        class="qty__control">
                    <button [disabled]="qty === 0" class="qty__add" (click)="addToCart(selectedVariant, qty)">
                        {{'productDetail.add' | translate}}
                    </button>
                </div>
                <div class="description" [innerHTML]="product?.description">
                </div>
            </div>
        </div>

        <div class="product__additional" *ngIf="product && product.customFields && product.customFields.details">
            <div class="product__table">
                <div class="table-header">{{'productDetail.details' | translate}}</div>
                <div class="table-body" [innerHTML]="product?.customFields?.details"></div>
            </div>
        </div>
    </div>
    
    <bv-slider></bv-slider> 
</div>
