.container-p-d {
    margin: 0 auto;

    vsf-asset-gallery {
        display: flex ;
        padding: 20px;
        border: 1px solid #d1d1d1;
        border-radius: 3px;
    }
}

.content {
    display: flex;
    padding: 40px 10px 10px 10px;
}

.product {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;

    &__image {
        width: 50%;
    }

    &__main {
        display: flex;
        flex-wrap: wrap;
    }

    &__caption {
        font-size: 30px;
        margin-bottom: 30px;
        color: #595e6f;
        font-weight: 500;
        width: 100%;
    }

    &__additional {
        margin-top: 40px;
        width: 100%;
    }

    &__info {
        display: flex;
        flex-direction: column;
        padding: 0px 0 0 30px;
        width: 50%;
        .price {
            font-size: 2rem;
            font-weight: 700;
            color: #fa4157;
            padding-bottom: 30px;
        }

        .qty {
            display: flex;
            align-items: center;
            width: 100%;

            &__label {
                margin-right: 10px;
                font-weight: 700;
                font-size: 18px;
            }

            &__control {
                height: 60px;
                background: #fff;
                background-clip: padding-box;
                border: 1px solid #d1d1d1;
                width: 80px;
                font-size: 20px;
                border-radius: 3px;
                padding: 0 10px 0 10px;
                margin-right: 10px;
            }

            &__add {
                height: 60px;
                line-height: 60px;
                font-weight: 700;
                padding: 0 20px;
                min-width: 195px;
                font-size: 1.9rem;
                border-radius: 3px;
                background: #2d265a;
                border: none;
                color: #fff;

                &:hover {
                    border: 0;
                    border-color: #f90f2b;
                    background: #f90f2b;
                }
            }
        }

        .description {
            font-style: normal;
            color: #666;
            text-align: left;
            overflow-x: hidden;
            font-size: 16px;
            margin-top: 40px;
        }
    }

    &__table {
        font-size: 14px;
        color: rgb(102, 102, 102);

        .table-header {
            border: 1px solid #d1d1d1;
            padding: 10px 20px;
            color: #000;
            font-size: 20px;
        }

        .table-body {
            border: 1px solid #d1d1d1;
            border-top: none;
            padding: 10px 20px;
        }

        .table-description {
            padding: 20px 0;
        }

        .table-list {
            &__header {

            }

            &__ul {

            }

            &__ul-item {
                font-family: 'Open Sans', sans-serif;
                padding: 5px 0px;
                font-size: 1.4rem;
            }
        }
    }
}

//adaptive

@media only screen and (max-width: 800px) {
    .product {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
        font-family: 'Open Sans', sans-serif;
    
        &__image {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    
        &__main {
            display: flex;
            flex-wrap: wrap;
        }
    
        &__info {
            width: 100%;
            padding: 50px 0 0 0px;
        }

        vsf-asset-gallery {
            border: 0px;
            padding: 0px;
            max-width: 80%;
        }
    }
}

@media only screen and (max-width: 800px) {
    .product {
        &__info {
            .qty {
                flex-direction: column;
                align-items: flex-start;

                &__control {
                    margin-top: 15px;
                }

                &__add {
                    margin-top: 15px;
                }
            }
        }
        vsf-asset-gallery {
            max-width: 100%;
        }
    }
}


