<div class="slider">
    <div class="bv-container slider__wrapper">
        <div class="slider__header">
            <div class="slider__title">{{'slider.bestsellers' | translate}}</div>
            <div class="slider__control">
                <button class="slider__control-button" (click)="toggleSlider(false)">
                    <fa-icon icon="caret-left"></fa-icon>
                </button>
                <button class="slider__control-button" (click)="toggleSlider(true)">
                    <fa-icon icon="caret-right"></fa-icon>
                </button>
            </div>
        </div>
        <div class="slider__body">
            <div class="slider__container" [ngStyle]="{'transform': offsetDomElement}">
                <ng-container *ngIf="topSellers.length">
                    <bv-product-card *ngFor="let product of topSellers" [product]="product" [mode]="false"></bv-product-card>
                </ng-container>
            </div>
        </div>
    </div>
</div>
