.terms-conditions {
    color: #595e6f;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400;
    font-size: 1.3rem;
    max-width: 800px;
    max-height: 80%;
    overflow: auto;
    padding: 0px 20px;
    max-height: 80vh;

    ul {
        padding-left: 10px;
    }

    &__header {
        font-size: 2.6rem;
        font-weight: 800 !important;
        padding-top: 0px;
        margin-bottom: 20px;
    }

    &__footer {
        display: flex;
        flex-direction: column;

        p {
            width: 100%;
            text-align: left;
        }
    }

    &__binding-conditions {
        font-size: 1.3rem;
        margin-bottom: 40px;
    }

    &__section {

    }

    .section {
        &__header {
            font-size: 2rem;
            font-weight: 600;
        }
    }

    .list {
        margin-top: 15px;
        margin-bottom: 10px;
        &__item {
            margin: 0px;
            padding: 0px;
            padding-bottom: 10px;
            &-name {
                font-weight: 700;
            }
        }
    }

    .last-revision {

    }

    .date {

    }

    .sender {

    }

    .name {

    }

    .address {

    }

    .declaration {

    }

    .declaration-format {
        display: flex;
        flex-direction: column;

        &__header {
            width: 100%;
            text-align: center;
        }

        &__body {

        }
    }

    .signature {
        width: 100%;
        text-align: center;
    }

    .hightlight {
        font-weight: 600;
    }
}

.close-modal {
    button {
        background: #fa4157;
        padding: 0 20px;
        line-height: 48px;
        height: 48px;
        font-weight: bold;
        color: #fff;
        border: 0;
        border-radius: 5px;
        font-size: 1.7rem;
    
        &:hover {
            background-color: #e80621;
        }
    }
}

@media only screen and (max-width: 500px) {
    .terms-conditions {  
        max-height: 70vh;  
        &__header {
            font-size: 2rem;
        }
    }
}
