<ng-template vsfDialogTitle></ng-template>

<div class="terms-conditions">
    <h2 class="terms-conditions__header"><strong>TERMS AND CONDITIONS OF THE BEST VOUCHERS WEBSITE</strong></h2>
    <p class="terms-conditions__binding-conditions">The binding Terms and Conditions of https://thebestvouchers.com/ website (hereinafter: “Terms and Conditions”).</p>

    <div class="terms-conditions__section section">
        <h3 class="section__header"><strong>1. Rules and definitions</strong></h3>
        <p>The Terms and Conditions set out the rules, scope and conditions for 
            the use of https://thebestvouchers.com/website (hereinafter: “Website”). 
            These Terms and Conditions apply to all Website users.</p>
        <p>For the purpose of these Terms and Conditions, the definitions provided 
            below shall assume the following meaning:</p>
        <ul class="list">
            <li class="list__item">
                1.<span class="list__item-name">Seller</span>
                – the Website Controller, an entity offering the purchase of Vouchers for services 
                presented on the Website, excluding Educational Packages and Access Codes to Educational 
                Packages presented on the Website.
            </li>
            <li class="list__item">
                2.<span class="list__item-name">Buyer</span>
                – a natural person with full legal capacity and over 18 years of age, who, on the basis 
                of a Sales Contract, purchased a Product from the Seller and received access to an Account 
                on the Website.
            </li>
        </ul>
    </div>
    <div class="terms-conditions__section section">
        <h3 class="section__header"><strong>2. General terms of use of the Website</strong></h3>
        <ul class="list">
            <li class="list__item">
                1. Products may be purchased only by individual Buyers.
            </li>
            <li class="list__item">
                2. The Buyers are obliged to comply with these Terms and Conditions, 
                and are required to use the Website in a manner consistent with the 
                applicable law and in accordance with the principles of social coexistence.
            </li>
        </ul>
    </div>
    <div class="terms-conditions__section section">
        <h3 class="section__header"><strong>3. Sales Contract conclusion</strong></h3>
        <ul class="list">
            <li class="list__item">
                1. The conclusion of the Sales Contract takes place as a result of the 
                Buyer placing an Order by means of an Order Form on the Website or on one 
                of the websites of the Seller’s Partners, at the moment of the acceptance 
                of the Order by the Seller.
            </li>
            <li class="list__item">
                2. Orders are accepted 24 hours per day, 365 days per year. Orders can 
                be placed online from anywhere in the world, subject to sec. 
                2 point 20; however, in some countries it is only possible to make a 
                prepayment through the payment system indicated on the Website.
            </li>
        </ul>
    </div>
    <div class="terms-conditions__section section">
        <h3 class="section__header"><strong>4. Requirements for the use of a Voucher or Access Code</strong></h3>
        <ul class="list">
            <li class="list__item">
                1. In order to use a Voucher or Access Code by logging into the Account, it is necessary to 
                use computer equipment that meets the following technical conditions: computer with an Internet
                connection (min. 512 kb/s), graphical web browser which supports JavaScript (e.g. Google Chrome, 
                Internet Explorer, Mozilla FireFox, Opera) and cookies, installed software to read PDF files 
                (e.g. Adobe Reader, Foxit Reader).
            </li>
            <li class="list__item">
                2. The Seller shall not be liable for the incorrect configuration of the Buyer’s computer.
            </li>
        </ul>
    </div>
    <div class="terms-conditions__section section">
        <h3 class="section__header"><strong>5. Delivery of Vouchers and Access Codes</strong></h3>
        <ul class="list">
            <li class="list__item">
                1. Vouchers and cards with Access Codes shall be delivered to the Buyer by post or 
                courier to the address indicated by the Buyer.
            </li>
            <li class="list__item">
                2. The ownership of the Voucher or Access Code shall pass to the Buyer only upon the 
                receipt of payment by the Seller for the Access Code or Voucher which was made by the Buyer.
            </li>
        </ul>
    </div>
    <div class="terms-conditions__section section">
        <h3 class="section__header"><strong>6. Use of Access Codes and Vouchers</strong></h3>
        <ul class="list">
            <li class="list__item">
                1. Unless otherwise stated in the terms of use of Educational Packages or 
                services which the Voucher entitles to purchase, only individual Buyers may 
                use Educational Packages as well as the above mentioned services.
            </li>
            <li class="list__item">
                2. Educational Packages purchased with the use of Access Codes and 
                services purchased with the use of Vouchers are not refundable in cash.
            </li>
        </ul>
    </div>
    <div class="terms-conditions__section section">
        <h3 class="section__header"><strong>7. Liability</strong></h3>
        <ul class="list">
            <li class="list__item">
                1. The Seller is not a party to the agreement for the purchase 
                of Educational Packages or other services, but only offers the 
                purchase of Access Codes to Educational Packages and Vouchers 
                entitling to purchase the services presented on the Website, 
                and therefore shall not be liable for the quality, safety or legality 
                of the services purchased using the Access Codes or Vouchers, or for the 
                genuineness and thoroughness of information of information provided in 
                the advertisement, the Service Providers’ capability or right to sell particular 
                services and the solvency of the Buyers placing Orders.
            </li>
            <li class="list__item">
                2. The Payment Provider is not a party to the agreement concluded 
                between the Buyers and Service Providers and shall not be held liable 
                for improper performance or non-performance of contracts concluded by the Buyers.
            </li>
        </ul>
    </div>
    <div class="terms-conditions__section section">
        <h3 class="section__header"><strong>8. Indemnity</strong></h3>
        <ul class="list">
            <li class="list__item">
                1. By accepting these Terms and Conditions, the Buyer agrees to 
                indemnify and hold harmless, in so far as permitted by law, 
                the Seller/Controller, its directors, employees and agents from 
                liability for any claims, damages, liabilities, losses, amounts due, 
                costs or debt and expenses (including, without limitation, for any 
                reasonable charges incurred in relation to any claims or court proceedings 
                which have been instituted or which the Seller/Controller can be at risk 
                of in relation to any parties) resulting from respectively: the use by the 
                Buyer of access to the Website, Access Code or Voucher; the breach of any 
                provision of these Terms and Conditions; the violation of any rights of third 
                parties, including without limitation any copyright, property or privacy right; 
                and any claim that the content provided by the Buyer causes damage to a third party.
            </li>
            <li class="list__item">
                2. The obligation to indemnify and hold harmless referred to in sec. 
                9 point 1 above remains in force after the expiry of 
                these Terms and Conditions and after the Buyer stops using the Website.
            </li>
        </ul>
    </div>
    <div class="terms-conditions__section section">
        <h3 class="section__header"><strong>9. Personal data protection</strong></h3>
        <ul class="list">
            <li class="list__item">
                1. The controller of the databases containing the personal data 
                provided by Website users (Buyers) is the Seller.
            </li>
            <li class="list__item">
                2. The controller of databases containing personal data undertakes 
                to protect personal data in accordance with the law applicable to 
                the registered office of the Seller. When the Buyers provide the 
                personal data Controller with their personal data, the Buyers shall 
                simultaneously consent to their processing by the personal data Controller 
                for the purpose of processing the Orders made. The Buyers shall be entitled 
                to view, correct, update and delete their personal data.
            </li>
        </ul>
    </div>
    <div class="terms-conditions__section section">
        <h3 class="section__header"><strong>10. Changes made to offers and promotions</strong></h3>
        <ul class="list">
            <li class="list__item">
                1. The Seller reserves the right to change the prices of the Products 
                included in the offer, withdraw some Products from the offer and 
                introduce new Products and promotional campaigns.
            </li>
            <li class="list__item">
                2. The entitlement described in point 1) above shall not affect Orders 
                placed before any changes were introduced to the prices and promotional 
                campaign conditions, and they shall be implemented based on the previous 
                conditions.
            </li>
        </ul>
    </div>
    <div class="terms-conditions__section section">
        <h3 class="section__header"><strong>11. Complaints</strong></h3>
        <ul class="list">
            <li class="list__item">
                1. If in the opinion of the Buyer, the services provided on the 
                basis of the Terms and Conditions are not carried out or are carried 
                out in breach of the provisions of the Terms and Conditions, the Buyer 
                shall be entitled to submit a complaint to warranty@thebestvouchers.com
            </li>
            <li class="list__item">
                2. The complaints received by the Seller shall be considered within 
                14 days from their receipt to the email address specified in point 1) 
                above. If the Complaint does not include information necessary for its 
                consideration, the Seller shall request the person submitting the Complaint 
                to provide the necessary information, and the term of 14 days shall then 
                run from the day on which the correctly completed Complaint is received.
            </li>
        </ul>
    </div>
    <div class="terms-conditions__section section">
        <h3 class="section__header"><strong>12. Withdrawal from the Contract</strong></h3>
        <ul class="list">
            <li class="list__item">
                1. The Buyer who did not use the Voucher or Access Code shall be 
                entitled to withdraw from the Contract within 14 days from its 
                conclusion date and receive the full refund of costs.
            </li>
            <li class="list__item">
                2. The Buyer who used the Voucher or Access Code loses the right to withdraw from the Contract.
            </li>
        </ul>
    </div>
    <div class="terms-conditions__section section">
        <h3 class="section__header"><strong>13. Final provisions</strong></h3>
        <ul class="list">
            <li class="list__item">
                1. The Website Controller shall make every effort to ensure the correct functioning of the Website.
            </li>
            <li class="list__item">
                2. The Website Controller reserves the right to deactivate the Website, in whole or in part, 
                for an unlimited time in order to modernise or repair it.
            </li>
        </ul>
    </div>

    <div class="terms-conditions__footer">
        <p class="last-revision">The date of the last revision of these Terms and Conditions: 13/03/2019</p>
        <p class="date">Place, date</p>
        <p class="sender">Sender</p>
        <p class="name">Name and surname of the Buyer</p>
        <p class="address">Address of residence</p>
        <p class="declaration">Declaration delivery address:</p>
        <div class="declaration-format">
            <p class="declaration-format__header">Declaration of withdrawing from a remote contract</p>
            <p class="declaration-format__body">
                I declare that <span class="hightlight">I withdraw from the sales contract relating to the Access Code/Voucher</span> number .......................... (order identification number) 
                concluded by confirming the Order, which took place on ..................................; 
                the Access Code/Voucher was received on ...............................
                Please return the amount of .................... (in words: …………………………………………………)
                to the bank account number ………………………………………………………………, SWIFT/BIC: ………………….
                I hereby return ………………………………………………… (the Gift to the Access Code to the Educational Package – if applies) in unchanged condition.
            </p>
            <p class="signature">The Buyer's signature</p>
        </div>
    </div>
</div>

<ng-template vsfDialogButtons>
    <div class="close-modal">
        <button (click)="closeModal(false)">
            Close
        </button>
    </div>
</ng-template>




 




