:host {
    display: block;
    min-height: 80vh;
}

.container-p-l {
    margin: 0 auto;
}

.content {
    display: flex;
    margin: 40px 0px;
    width:100%;

    &__grid {
        display: flex;
        width: 75%;
        flex-direction: column;
        position: relative;
    }

    &__sidebar {
        width: 25%;
        padding-right: 15px;
        img {
            max-width: 100%;
        }
    }
}

.product-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 32%);
    grid-row-gap: 10px;
    justify-content: space-around;
    position: relative;
    min-height: 50vh;
}

.page-control {
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    padding: 50px 0px 30px 0;
    border-bottom: 1px solid rgb(238, 238, 238);

    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        color: rgb(185, 185, 185);
        font-size: 1.3rem;
        font-weight: 700;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            cursor: pointer;
        }
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-radius: 3px;
        color: #7d7d7d;
        border: 1px solid #d1d1d1;
        font-weight: 300;
        &:hover {
            cursor: pointer;
        }

        i {
            font-size: 1.3rem;   
        }
    }

    .ative-page {
        color: #333;
    }

    .control-page {
        display: flex;
        max-width: 70%;
        overflow: hidden;
    }

    .control-view {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        font-weight: 600;
        display: none;

        &__button {
            font-weight: 500;
            padding: 0 5px;
            font-size: 1.5rem;
        }

        .active__mode {
            font-weight: 700;
        }
    }
}

// for row mode
.product-list_row {
    grid-template-columns: repeat(auto-fill, 100%) !important;
}
// for row mode

@media only screen and (max-width: 800px) {
    .page-control {    
        .control-view {
            display: flex;
        }
    } 
    
    .content {
        flex-direction: column;
        &__grid {
            width: 100%;
            order: 0;
        }
    
        &__sidebar {
            padding-top: 30px;
            width: 100%;
            order: 1;
            display: flex;
            justify-content: center;
        }
    }
}

@media only screen and (max-width: 600px) {
    .product-list {
        grid-template-columns: repeat(auto-fill, 48%);
    }
}
