<bv-collection-breadcrumbs [breadcrumbs]="breadcrumbs"></bv-collection-breadcrumbs>

<div class="bv-container container-p-l">
    <div class="content">
        <div class="content__sidebar">
            <!-- IF EXIST PRODUCT -->
            <ng-container *ngIf="advertising['sideBar_first']?.product">    
                <img [routerLink]="['/'+ translate.currentLang +'/product', advertising['sideBar_first']?.product?.translations[0]?.slug]"
                [src]="advertising['sideBar_first']?.source">
            </ng-container>
            <!-- IF NOT EXIST PRODUCT -->
            <ng-container *ngIf="!advertising['sideBar_first']?.product">
                <!-- IF EXIST LINK -->
                <a *ngIf="advertising['sideBar_first']?.link" [href]="advertising['sideBar_first']?.link">
                    <img [src]="advertising['sideBar_first']?.source">
                </a>
                <!-- IF NOT EXIST LINK AND EXIST CATEGORY-->
                <img *ngIf="!(advertising['sideBar_first']?.link) && advertising['sideBar_first']?.category" 
                    [routerLink]="['/'+ translate.currentLang +'/category', advertising['sideBar_first']?.category]"
                    [src]="advertising['sideBar_first']?.source">
                <!-- IF NOT EXIST LINK AND NOT EXIST CATEGORY-->
                <img *ngIf="!(advertising['sideBar_first']?.link) && !(advertising['sideBar_first']?.category)" 
                    [src]="advertising['sideBar_first']?.source">
            </ng-container>

            <!--  -->

            <!-- IF EXIST PRODUCT -->
            <ng-container *ngIf="advertising['sideBar_second']?.product">    
                <img [routerLink]="['/'+ translate.currentLang +'/product', advertising['sideBar_second']?.product?.translations[0]?.slug]"
                [src]="advertising['sideBar_second']?.source">
            </ng-container>
            <!-- IF NOT EXIST PRODUCT -->
            <ng-container *ngIf="!advertising['sideBar_second']?.product">
                <!-- IF EXIST LINK -->
                <a *ngIf="advertising['sideBar_second']?.link" [href]="advertising['sideBar_second']?.link">
                    <img [src]="advertising['sideBar_second']?.source">
                </a>
                <!-- IF NOT EXIST LINK AND EXIST CATEGORY-->
                <img *ngIf="!(advertising['sideBar_second']?.category) && advertising['sideBar_second']?.category" 
                    [routerLink]="['/'+ translate.currentLang +'/category', advertising['sideBar_second']?.category]"
                    [src]="advertising['sideBar_second']?.source">
                <!-- IF NOT EXIST LINK AND NOT EXIST CATEGORY-->
                <img *ngIf="!(advertising['sideBar_second']?.link) && !(advertising['sideBar_second']?.category)" 
                    [src]="advertising['sideBar_second']?.source">
            </ng-container>
        </div>
        <div class="content__grid">
            <div [ngClass]="{'product-list_row': rowModeView}" class="product-list">
                <ng-container *ngIf="products.length">
                    <bv-product-card *ngFor="let product of products"
                                      [product]="product" [mode]="rowModeView"></bv-product-card>
                </ng-container>
                <!-- SPINNER -->
                <div class="lds-spinner" *ngIf="load">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <!-- SPINNER -->
            </div>
            <div class="page-control">
                <div class="control-page">
                    <div class="page-control__button" (click)="choosePage(+currentPage-1)">
                        <fa-icon icon="chevron-left"></fa-icon>
                    </div>
                    <div class="page-control__list">
                        <span (click)="choosePage(page)" *ngFor="let page of pageList" class="page-control__item" [ngClass]="{'ative-page': currentPage == page}" >
                            {{page}}
                        </span>
                    </div>
                    <div class="page-control__button" (click)="choosePage(+currentPage+1)">
                        <fa-icon icon="chevron-right"></fa-icon>
                    </div>
                </div>
                <div class="control-view">
                    <div class="control-view__wrapper">
                        View as 
                        <span class="control-view__button" 
                        [ngClass]="{'active__mode': !rowModeView}" 
                        (click)="changeModeView(false)">Grid</span>
                        <span class="control-view__button" 
                        [ngClass]="{'active__mode': rowModeView}" 
                        (click)="changeModeView(true)">List</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
