<!-- <div class="masthead" [class.search-mode]="searchTerm$ | async">
    <div class="masthead-bg" [style.background-image]="mastheadBackground$ | async"></div>
    <div class="container position-relative">

        <h1 class="display-1 collection-name">{{ (collection$ | async)?.name }}</h1>
        <h1 class="display-4 text-muted" *ngIf="searchTerm$ | async as term">
             Results for <span class="text-dark">"{{ term }}"</span>
        </h1>
    </div>

</div> -->
<vsf-collection-breadcrumbs [breadcrumbs]="breadcrumbs$ | async"></vsf-collection-breadcrumbs>

<div class="container-p-l">
    <div class="content">
        <div class="content__sidebar">
            <img src="../../../../assets/bestvouchers/baner.jpg">
        </div>
        <div class="content__grid">
            <!-- <ng-container *ngIf="collection$ | async as collection">
                <div *ngIf="collection.children.length" class="child-categories d-flex flex-column flex-md-row">
                    <vsf-collection-card *ngFor="let child of collection.children"
                                         [collection]="child">
                    </vsf-collection-card>
                </div>
            </ng-container> -->
            <ng-container *ngIf="(totalResults$ | async) !== 0; else noResults">
                <div class="product-list">
                    <ng-container *ngIf="(totalResults$ | async) !== null; else placeholders">
                        <vsf-product-card *ngFor="let product of products$ | async"
                                          [product]="product"></vsf-product-card>
                    </ng-container>
                    <ng-template #placeholders>
                        <vsf-product-card *ngFor="let product of placeholderProducts"
                                          [product]="product"></vsf-product-card>
                    </ng-template>
                </div>
                <div class="page-control">
                    <div class="page-control__list">
                        <span class="page-control__item" *ngFor="let page of pageList">
                            {{page}}
                        </span>
                    </div>
                    <div class="page-control__button"></div>
                </div>
            </ng-container>
        </div>
    </div>
</div>

<ng-template #noResults>
    <div class="no-results col-12">
        <p class="h1">No results</p>
        <fa-icon icon="sad-cry" size="10x"></fa-icon>
    </div>
</ng-template>
