@import "variables";

:host {
    display: block;
    padding: 20px;
    border-bottom: 1px solid #eee;

    .breadcrumb {
        color: #333;
        font-size: 14px;
    }

    a {
        color: #333;  
        :hover {
            color: #333;  
        }
    }
}
