// red - #e44f4f
.header {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;

    &__wrapper {
        max-width: 1200px;
        width: 100%;
    }

    &__lang {
        width: 100%;
        display: flex;
        background-color: #15172e;
        height: 40px;
        justify-content: center;
        font-size: 1.5rem;
        i {
            margin-right: 10px;
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        padding: 6px;
        width: 100%;
        padding: 30px 0px;
        background-color:#2f2c57;
        justify-content: center;

        @media only screen and (max-width: 767px) {
            padding: 10px 0;
        }
    }

    &__logo {
        max-width: 25%;

        @media only screen and (max-width: 767px) {
            flex-basis: 100%;
            max-width: 100%;
            margin: 0 0 10px;
        }

        max-width: 25%;
        img {
            width: 100%;
        }
    }

    &__control {
        display: flex;
        font-size: 1.4rem;
        font-weight: 700;
        align-items: center;
        margin: 0 auto;
        position: relative;

        span {
            margin-left: 10px;
            @media only screen and (max-width: 991px) {
                display: none;
            }
    
        }

        &:hover {
            cursor: pointer;

            vsf-mini-cart {
                display: flex;
            }
        }

        .display-flex {
            display: flex !important;
        }

        .mini-cart-wrapper {
            padding: 0 50px;
        }
    }

    &__support {
        font-size: 4rem;
        display: flex;
        margin-right: auto;

        @media only screen and (max-width: 767px) {
            margin-top: 5px;
            margin-bottom: 10px;
        }


        &-info {
            display: flex;
            flex-direction: column;
            font-size: 1.4rem;
            font-weight: 700;

            margin-left: 10px;

            span {
                line-height: 1.4;
            }
        }
    }

    &__use-gift {
        margin-right: auto;
        
        @media only screen and (max-width: 767px) {
            flex-basis: 100%;
            text-align: center;
        }

        button {
            background: #fa4157;
            padding: 0 20px;
            line-height: 48px;
            height: 48px;
            font-weight: bold;
            border: 0;
            font-size: 1.7rem;
            color: #fff;
            
            &:hover {
                background-color: #e80621;
            }
        }
    }

    &__toggle {
        display: flex;
        align-items: center;
        height: 28px;
        padding-right: 10px;
        &:hover {
            cursor: pointer;
            .header__list {
                display: block;
            }
        }
    }

    &__list-wrapper {

    }

    &__list {
        padding: 0 0 5px 0;
        list-style: none;
        position: absolute;
        top: 35px;
        right: 0px;
        z-index: 90;
        text-align: center;
        background: #2f2c57;
        border: 1px solid #fa4157;
        min-width: 100px;
        display: none;

        &-item {
            padding: 3px;
            font-size: 12px;
            &:hover {
                cursor: pointer;
                color:#fa4157
            }
        }

        &:hover {
            display: block;
        }

        &:before {
            content: "";
            position: absolute;
            top: -20px;
            left: 0px;
            width: 100%;
            height: 20px;
        }
    }

    .lang-container {
        justify-content: flex-end;
        align-items: center;
        position: relative;
    }

    .header-container {
        justify-content: space-around;
        align-items: center;
        height: 50px;        
        
        @media only screen and (max-width: 767px) {
            flex-wrap: wrap;
            height: 100%;
        }
    }
}

.logo-link {
    display: flex;
    align-items: center;

    img.logo {
    }

    &:link, &:visited {
        color: #0e95c7;
        font-size: 22px;
    }
}

.footer {
    color: #fff;

    &__info {
        background: #2f2c57;
        padding: 40px 0;
        .bv-container {
            flex-direction: column;
            margin: 0 auto;
        }
    }
    
    &__copyright {
        display: flex;
        background: #15172e;
        color: #888;
        padding: 25px 0 20px;
        font-style: italic;
        font-size: 1.5rem;

        .bv-container {
            margin: 0 auto;
            text-align: center;
        }
    }

    &__row {
        width: 100%;
        display: flex;
        margin-top: 30px;

        &:first-child {
            margin: 0px;
            margin-top: 35px;
        }
        
        @media only screen and (max-width: 767px) {
            flex-wrap: wrap;
        }
    }

    &__section {
        font-size: 1.7rem;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-basis: 25%;

        @media only screen and (max-width: 991px) {
            flex-basis: 30%;
        }

        @media only screen and (max-width: 767px) {
            flex-wrap: wrap;
            flex-basis: 50%;
            margin-bottom: 20px;
        }

        @media only screen and (max-width: 575px) {
            flex-basis: 100%;
        }

        &:first-of-type {
            flex-basis: 50%;
            @media only screen and (max-width: 991px) {
                flex-basis: 40%;
            }

            @media only screen and (max-width: 767px) {
                flex-basis: 50%;
            }

            @media only screen and (max-width: 575px) {
                flex-basis: 100%;
            }
        }

        &:nth-of-type(2) {
            @media only screen and (max-width: 767px) {
                flex-basis: 40%;
            }
            @media only screen and (max-width: 575px) {
                flex-basis: 100%;
            }
        }

        &-wrapperTop{
            display: flex;
            align-items: center;
            width: 100%;
            margin-bottom: 20px;
        }

        &-name {
            display: block;
            white-space: nowrap;
            margin-right: 20px;
            text-transform: uppercase;
            font-weight: 600;
        }

        .footer__column {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            width: 100%;
    
            @media only screen and (max-width: 991px) {
                flex-direction: column;
            }
        }

        padding-right: 30px;
    }

    &__line {
        display: block;
        height: 2px;
        width: 100%;
        background: #474e58;
    }

    &__block-info {
        display: flex;

        &:first-child {
            margin: 0px;

            @media only screen and (max-width: 991px) {
                margin-bottom: 10px;
            }
        }

        .right {
            width: auto;
            margin-right: 8px;
            span {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                background-color: #e44f4f;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: color 0.2s linear;
                &:hover {
                    cursor: pointer;
                }

                i {
                    font-size: 2rem;
                }
            }
        }
        .left {
            width: 100%;
            display: flex;
            flex-direction: column;
            span {
                font-size: 1.4rem;
                color: #fff;
                line-height: 1.4;
                &:first-child {
                    font-size: 1.4rem;
                    font-weight: 600;
                }
            }
        }
    }

    &__links {
        padding: 0 0 0 10px;
        li {
            font-size: 1.4rem;
            color: #fff;
            padding: 3px 0;
            a {
                color: #fff;
                transition: color 0.2s linear;
            }

            &:hover {
                a {
                    color: #e44f4f;
                    cursor: pointer;
                }
            }
        }
    }

    .facebook {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: #e44f4f;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 25px;

        &:hover {
            cursor: pointer;
        }

        i {
            font-size: 2rem;
        }

        @media only screen and (max-width: 767px) {
            margin-left: 0;
        }
    }

    // .phone-block {
    //     margin-left: 40px;
    // }
}
