<bv-layout>

    <bv-layout-header>
        <div class="header">
            <div class="header__lang">
                <div class="bv-container lang-container">
                    <div class="header__toggle">
                        <fa-icon icon="globe"></fa-icon>
                        <span>{{'app.header.lang' | translate}}: {{currentLang.name}}</span>
                        <ul class="header__list">
                            <li class="header__list-item" *ngFor="let lang of listlang" (click)="chooseLang(lang)">
                                {{lang.name}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="header__menu">
                <div class="bv-container header-container">

                    <div class="header__logo">
                        <a [routerLink]="['/']" class="logo-link d-md-inline-block ">
                            <img src="../assets/bestvouchers/logo_1.png" class="logo" alt="best vouchers logo">
                        </a>
                    </div>
                    <div class="header__control">
                        <bv-cart-toggle [routerLink]="['/checkout']"></bv-cart-toggle>
                        <span>{{'app.header.cart' | translate}}</span>
                        <bv-mini-cart></bv-mini-cart>
                    </div>  
                    <div class="header__support">
                        <fa-icon [icon]="['fab', 'whatsapp']"></fa-icon>
                        <div class="header__support-info">
                            <span class="text">{{'app.header.support' | translate}}</span>
                            <span class="phone">(+44) 752 066 07 48</span>
                        </div>
                    </div>
                    <div class="header__use-gift">
                        <button [routerLink]="['/check-your-order']">
                            {{'app.header.gift' | translate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </bv-layout-header>

    <!-- <bv-cart-drawer [visible]="cartDrawerVisible$ | async" (close)="closeCartDrawer()"></bv-cart-drawer> -->
    
    <div class="contents">
        <bv-home-page *ngIf="isHomePage$ | async; else main"></bv-home-page>
        <ng-template #main>
                <router-outlet></router-outlet>
        </ng-template>
    </div>

    <bv-layout-footer>
        <div class="footer">
            <div class="footer__info">
                <div class="bv-container footer-container">
                    <div class="footer__row">
                        <div class="footer__section">
                            <div class="footer__section-wrapperTop">
                                <span class="footer__section-name">{{'app.footer.contact' | translate}}</span>
                                <span class=" footer__line"></span>
                            </div>
                            <div class="footer__column">
                                <div class="footer__block-info">
                                    <div class="right">
                                        <span>
                                            <fa-icon icon="envelope"></fa-icon>
                                        </span>
                                    </div>
                                    <div class="left">
                                        <span>{{'app.footer.email' | translate}}</span>
                                        <span>contact@thebestvouchers.com</span>
                                    </div>
                                </div>
    
                                <div class="footer__block-info phone-block">
                                    <div class="right">
                                        <span>
                                            <fa-icon icon="phone" flip="horizontal"></fa-icon>
                                        </span>
                                    </div>
                                    <div class="left">
                                        <span>{{'app.slider.title' | translate}}</span>
                                        <span>(+44) 752 066 07 48</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer__section">
                            <div class="footer__section-wrapperTop">
                                <span class="footer__section-name">{{'app.footer.follow' | translate}}</span>
                                <span class=" footer__line"></span>
                            </div>
                            <div class="footer__column">
                                <div class="right">
                                    <span class="facebook">
                                        <fa-icon [icon]="['fab', 'facebook-f']"></fa-icon>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="footer__section">
                            <div class="footer__section-wrapperTop">
                                <span class="footer__section-name">{{'app.footer.quick_links' | translate}}</span>
                                <span class=" footer__line"></span>
                            </div>
                            <div class="footer__column">
                                <ul class="footer__links">
                                    <li><a [routerLink]="['./terms-and-services']">{{'app.footer.link_term_service' | translate}}</a></li>
                                    <li><a [routerLink]="['./check-your-order']">{{'app.footer.link_check_order' | translate}}</a></li>
                                    <li><a [routerLink]="['./privacy-policy']">{{'app.footer.link_privacy_policy' | translate}}</a></li>
                                    <li><a [routerLink]="['./return-policy']">{{'app.footer.link_return_policy' | translate}}</a></li>
                                    <li><a [routerLink]="['./delivery']">{{'app.footer.link_delivery' | translate}}</a></li>
                                    <li><a [routerLink]="['./contact']">{{'app.footer.link_contact' | translate}}</a></li>
                                </ul> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__copyright">
                <div class="bv-container ">
                    {{'app.footer.copyright' | translate}}
                </div>
            </div>
        </div>
    </bv-layout-footer>

</bv-layout>
