<vsf-layout>

    <vsf-layout-header>
        <div class="header">
            <div class="header__lang">
                <div class="bv-container lang-container">
                    <div class="header__toggle">
                        <i class="fa fa-globe" aria-hidden="true"></i>
                        <span>Language: {{currentLang}}</span>
                        <ul class="header__list">
                            <li class="header__list-item" *ngFor="let lang of listlang" (click)="chooseLang(lang)">
                                {{lang}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="header__menu">
                <div class="bv-container header-container">

                    <div class="header__logo">
                        <a [routerLink]="['/']" class="logo-link d-md-inline-block ">
                            <img src="../assets/bestvouchers/logo_1.png" class="logo" alt="best vouchers logo">
                        </a>
                    </div>
                    <div class="header__control">
                        <vsf-cart-toggle [routerLink]="['/checkout']"></vsf-cart-toggle>
                        <span>My cart</span>
                        <vsf-mini-cart></vsf-mini-cart>
                    </div>  
                    <div class="header__support">
                        <i class="fa fa-whatsapp" aria-hidden="true"></i>
                        <div class="header__support-info">
                            <span class="text">Support</span>
                            <span class="phone">(+44) 752 066 07 48</span>
                        </div>
                    </div>
                    <div class="header__use-gift">
                        <button [routerLink]="['/check-your-order']">
                            Use a gift card
                        </button>
                    </div>
                    <!-- <div class="shopping-carf">
                        <i class="fa fa-shopping-bag" aria-hidden="true" !!!></i>
                    </div> -->
                    <!-- <div class="flex-grow-1 d-none d-sm-block"></div> !!!-->
                </div>
            </div>

        </div>
    </vsf-layout-header>

    <vsf-cart-drawer [visible]="cartDrawerVisible$ | async" (close)="closeCartDrawer()"></vsf-cart-drawer>
    
    <div class="contents">
        <vsf-home-page *ngIf="isHomePage$ | async; else main"></vsf-home-page>
        <ng-template #main>
                <router-outlet></router-outlet>
        </ng-template>
    </div>

    <vsf-layout-footer>
        <div class="footer">
            <div class="footer__info">
                <div class="bv-container">
                    <div class="footer__row">
                        <div class="footer__section">
                            <div class="footer__section-wrapperTop">
                                <span class="footer__section-name">Contact us</span>
                                <span class=" footer__line"></span>
                            </div>
                            <div class="footer__column">
                                <div class="footer__block-info">
                                    <div class="right">
                                        <span>
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <div class="left">
                                        <span>Email</span>
                                        <span>contact@thebestvouchers.com</span>
                                    </div>
                                </div>
    
                                <div class="footer__block-info phone-block">
                                    <div class="right">
                                        <span>
                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <div class="left">
                                        <span>Phone</span>
                                        <span>(+44) 752 066 07 48</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer__section">
                            <div class="footer__section-wrapperTop">
                                <span class="footer__section-name">Follow us</span>
                                <span class=" footer__line"></span>
                            </div>
                            <div class="footer__column">
                                <div class="right">
                                    <span class="facebook">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="footer__section">
                            <div class="footer__section-wrapperTop">
                                <span class="footer__section-name">Quick links</span>
                                <span class=" footer__line"></span>
                            </div>
                            <div class="footer__column">
                                <ul class="footer__links">
                                    <li><a [routerLink]="['./terms-and-services']">Terms and Services</a></li>
                                    <li><a [routerLink]="['./check-your-order']">Check your order</a></li>
                                    <li><a [routerLink]="['./privacy-policy']">Privacy Policy</a></li>
                                    <li><a [routerLink]="['./return-policy']">Return Policy</a></li>
                                    <li><a [routerLink]="['./delivery']">Delivery</a></li>
                                    <li><a [routerLink]="['./contact']">Contact Us</a></li>
                                </ul> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__copyright">
                <div class="bv-container">
                    Copyright © 2020 TheBestVouchers.com All rights reserved.
                </div>
            </div>
        </div>
    </vsf-layout-footer>

</vsf-layout>
