<bv-layout>

    <bv-layout-header>
        <div class="header">
            <div class="header__lang">
                <div class="bv-container lang-container">
                    <div class="header__toggle">
                        <fa-icon icon="globe"></fa-icon>
                        <span>{{'header.lang' | translate}}: {{currentLang?.name}}</span>
                        <ul class="header__list">
                            <li class="header__list-item" *ngFor="let lang of listlang" (click)="setLang(lang)">
                                {{lang.name}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="header__menu">
                <div class="bv-container header-container">

                    <div class="header__logo">
                        <a [routerLink]="['/'+ translate.currentLang]" class="logo-link d-md-inline-block ">
                            <img src="../assets/bestvouchers/logo_1.png" class="logo" alt="best vouchers logo">
                        </a>
                    </div>
                    <div class="header__control">
                        <bv-cart-toggle [routerLink]="['/'+ translate.currentLang +'/checkout']"></bv-cart-toggle>
                        <span>{{'header.cart' | translate}}</span>
                        <bv-mini-cart></bv-mini-cart>
                    </div>  
                    <div class="header__support">
                        <fa-icon [icon]="['fab', 'whatsapp']"></fa-icon>
                        <div class="header__support-info">
                            <span class="text">{{'header.support' | translate}}</span>
                            <span class="phone">(+44) 752 066 07 48</span>
                        </div>
                    </div>
                    <div class="header__use-gift">
                        <button [routerLink]="['/'+ translate.currentLang +'/check-your-order']">
                            {{'header.gift' | translate}}
                        </button>
                    </div>
                </div>
            </div>
            <!-- <button (click)="testCurrentLang()">TEST CURRENT LANG</button> -->
        </div>
    </bv-layout-header>

    <!-- <bv-cart-drawer [visible]="cartDrawerVisible$ | async" (close)="closeCartDrawer()"></bv-cart-drawer> -->
    
    <div class="contents">
        <!-- <bv-home-page *ngIf="isHomePage$ | async; else main"></bv-home-page> -->
        <!-- <ng-template #main> -->
                <router-outlet></router-outlet>
        <!-- </ng-template> -->
    </div>

    <bv-layout-footer>
        <div class="footer">
            <div class="footer__info">
                <div class="bv-container footer-container">
                    <div class="footer__row">
                        <div class="footer__section">
                            <div class="footer__section-wrapperTop">
                                <span class="footer__section-name">{{'footer.contact' | translate}}</span>
                                <span class=" footer__line"></span>
                            </div>
                            <div class="footer__column">
                                <div class="footer__block-info">
                                    <div class="right">
                                        <span>
                                            <fa-icon icon="envelope"></fa-icon>
                                        </span>
                                    </div>
                                    <div class="left">
                                        <span>{{'footer.emailCaption' | translate}}</span>
                                        <span>contact@thebestvouchers.com</span>
                                    </div>
                                </div>
    
                                <div class="footer__block-info phone-block">
                                    <div class="right">
                                        <span>
                                            <fa-icon icon="phone" flip="horizontal"></fa-icon>
                                        </span>
                                    </div>
                                    <div class="left">
                                        <span>{{'footer.phoneCaption' | translate}}</span>
                                        <span>(+44) 752 066 07 48</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer__section">
                            <div class="footer__section-wrapperTop">
                                <span class="footer__section-name">{{'footer.follow' | translate}}</span>
                                <span class=" footer__line"></span>
                            </div>
                            <div class="footer__column">
                                <div class="right">
                                    <span class="facebook">
                                        <fa-icon [icon]="['fab', 'facebook-f']"></fa-icon>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="footer__section">
                            <div class="footer__section-wrapperTop">
                                <span class="footer__section-name">{{'footer.quickLinks' | translate}}</span>
                                <span class=" footer__line"></span>
                            </div>
                            <div class="footer__column">
                                <ul class="footer__links">
                                    <!-- <li><a [routerLink]="['/'+ translate.currentLang +'/terms-and-services']">{{'footer.linkTermService' | translate}}</a></li>
                                    <li><a [routerLink]="['/'+ translate.currentLang +'/check-your-order']">{{'footer.linkCheckOrder' | translate}}</a></li>
                                    <li><a [routerLink]="['/'+ translate.currentLang +'/privacy-policy']">{{'footer.linkPrivacyPolicy' | translate}}</a></li>
                                    <li><a [routerLink]="['/'+ translate.currentLang +'/return-policy']">{{'footer.linkReturnPolicy' | translate}}</a></li>
                                    <li><a [routerLink]="['/'+ translate.currentLang +'/delivery']">{{'footer.linkDelivery' | translate}}</a></li>
                                    <li><a [routerLink]="['/'+ translate.currentLang +'/contact']">{{'footer.linkContact' | translate}}</a></li> -->

                                    <li *ngFor="let page of listPages">
                                        <a [routerLink]="['/'+ translate.currentLang +'/quik-link/'+ page.slug + '/']">
                                            {{page.title}}
                                        </a>
                                    </li>
                                </ul> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__copyright">
                <div class="bv-container ">
                    {{'footer.copyright' | translate}}
                </div>
            </div>
        </div>
    </bv-layout-footer>

</bv-layout>
