:host {
    top: 55px;
    left: -370px;
    z-index: 999;
    display: flex;
    min-height: 100%;
    min-width: 420px;
    background-color: #fff;
    display:  none;
    border: 1px solid #d8d8d8;
    position: absolute;

    &:before {
        content: '';
        border: solid 10px transparent;
        border-bottom: solid 10px #fff;
        position: absolute;
        right: 15px;
        top: -20px;
    }

    &:after {
        content: "";
        height: 50px;
        width: 480px;
        position: absolute;
        left: 0px;
        top: -20px;
        z-index: 100;
    }
}

.mini-cart {
    width: 100%;
    color:  #595e6f;
    max-height: 700px;
    font-family: 'Open Sans', sans-serif;

    &__header {
        font-size: 18px;
        padding: 20px 0;
        text-align: center;
        font-weight: 700px;
        text-transform: uppercase;
    }

    &__list {
        padding: 0px;
        margin: 0px;
        overflow: auto;
        max-height: 320px;
        padding: 0 10px;
        border-bottom: 1px solid #bbb;
        border-top: 1px solid #bbb;
    }

    &__control {
        padding: 20px;

        &-header {
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
        }

        &-go-to {
            width: 100%;
            button {
                background: #fa4157;
                border: 0;
                text-transform: uppercase;
                color: #fff;
                display: inline-block;
                vertical-align: middle;
                padding: 0 20px;
                height: 48px;
                font-weight: 700;
                border-radius: 5px;
                font-size: 1.7rem;
                width: 100%;

                &:hover {
                    background-color: #f90f2b;
                }
            }
        }
    }

    &__item {
        display: flex;
        align-items: stretch;
        width: 100%;
        border-bottom: 1px solid #bbb;
        padding: 10px 0;

        &-picture {
            width: 20%;
            img {
                width: 100%;
                height: auto;
            }
        }

        &-info {
            display: flex;
            flex-wrap: wrap;
            width: 70%;
        }

        &-control {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 10%;
            align-items: flex-end;
        }

        &-name {
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
        }

        &-qty {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            input {
                width: 50px;
                height: 35px;
                padding-left: 5px;
            }
        }

        &-price {
            width: 50%;
            display: flex;
            justify-content: center;
        }

        &:last-child {
            border-bottom: 0px;
        }
    }

    &__empty {
        display: flex;
        padding: 30px 0;
        justify-content: center;
        font-size: 1.4rem;
    }

    .payment-wrapper {
        width: 100%;
    }
}