<div class="mini-cart">
    <div class="mini-cart__header">
        <strong>{{'app.min_cart.title' | translate}}</strong>
    </div>
    <ng-container *ngIf="order?.lines.length">
        <ol class="mini-cart__list">
            <li class="mini-cart__item" *ngFor="let line of order?.lines">
                <div class="mini-cart__item-picture">
                    <img [src]="line.featuredAsset?.preview + '?preset=tiny'">
                </div>
                <div class="mini-cart__item-info">
                    <div class="mini-cart__item-name">
                        <a [routerLink]="['/']">{{line.productVariant.name}}</a>
                    </div>
                    <div class="mini-cart__item-price">{{line.totalPrice | formatPrice }}</div>
                    <div class="mini-cart__item-qty">
                        <input type="number" [(ngModel)]="line.quantity" (change)="setQuantity(line)">
                    </div>
                </div>
                <div class="mini-cart__item-control">
                    <fa-icon icon="cog"></fa-icon>
                    <fa-icon icon="trash" (click)="removeLine(line)"></fa-icon>
                </div>
            </li>
        </ol>
        <div class="mini-cart__control">
            <div class="mini-cart__control-header">{{'app.min_cart.payments' | translate}}</div>
            <div class="payment-wrapper">
                <bv-paypal-control></bv-paypal-control>
            </div>
            <div class="mini-cart__control-go-to">
                <button [routerLink]="['/checkout']">
                    {{'app.min_cart.go' | translate}}
                </button>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="!order?.lines.length">
        <div class="mini-cart__empty">
            {{'app.min_cart.empty_cart' | translate}}
        </div>
    </ng-container>
</div> 
