<div class="wrapper-card">
    <!-- [ngClass]="{'card-tabs': mode === 'tab'}" -->
    <!-- [ngClass]="{'product-card_row': mode}" -->
    <div [ngClass]="{'product-card_row': mode}" class="product-card card-tabs">
        <ng-template [ngIf]="product">
            <a [routerLink]="['/'+ translate.currentLang +'/product', product.slug]" class="product-card__image-wrapper">
                <img class="product-card__product-image" [src]="product.productAsset | assetPreview:200:200">
            </a>
            <div class="product-card__info">
                <a class="product-card__name" [routerLink]="['/'+ translate.currentLang +'/product', product.slug]">
                    {{ product.productName }}
                </a>
                <span class="product-card__price">
                    {{ product.priceWithTax.min | formatPrice }}
                </span>
                <div class="product-card__description">
                    {{product.description}}
                </div>
                <button class="product-card__button" [routerLink]="['/'+ translate.currentLang +'/product', product.slug]">
                    Check
                </button>
            </div>
        </ng-template>
    </div>
</div>

