
.cart {
    .cart__body {
        width: 100%;
        display: flex;
    
        .items {
            height: 100%;
            padding-right: 10px;
            font-size: 17px;
            width: 70%;
            padding-right: 40px;
        
            &__header {
                display: flex;
                justify-content: space-between;
                width: 100%;
                text-align: center;
                border-bottom: 1px solid #d1d1d1;
                
                .header-item {
                    width: 15%;
                    text-align: left;
                }
        
                .header-empty {
                    width: 30%;
                }
        
                .header-price {
                    width: 10%;
                }
        
                .header-qty {
                    width: 25%;
                }
        
                .header-subtotal {
                    width: 20%;
                    text-align: right;
                }
            }
        
            &__cell {
                font-weight: 600;
            }
        
            &__control {
                margin: 30px 0;
            }
        
            &__continue {
                background: #fa4157;
                border: 0;
                color: #fff;
                display: inline-block;
                padding: 0 20px;
                line-height: 48px;
                height: 48px;
                font-weight: bold;
                border-radius: 5px;
                font-size: 1.7rem;
                font-family: 'Open Sans',sans-serif;
                color: #fa4157;
                background: #fff;
                border: 1px solid #fa4157;

                fa-icon {
                    margin-right: 15px;
                }
            }
        
            &__update {
                background: #fa4157;
                border: 0;
                color: #fff;
                display: inline-block;
                padding: 0 20px;
                line-height: 48px;
                height: 48px;
                font-weight: bold;
                border-radius: 5px;
                font-size: 1.7rem;
                font-family: 'Open Sans',sans-serif;
        
                color: #fa4157;
                background: #fff;
                border: 1px solid #fa4157;
                margin-left: 30px;
            }
        }
    
        .item {
            display: flex;
            margin-bottom: 10;
            justify-content: space-between;
            border-bottom: 1px solid #d1d1d1;
            padding: 15px 0;

            .item-label {
                display: none;
                font-weight: 700;
                padding-left: 0px !important;
            }

            &__picture {
                width: 15%;
        
                img {
                    max-width: 100%;
                    height: auto;
                    width: 100%;
                }
            }
        
            &__name {
                div {
                    padding-left: 20px;
                }
            }   
        
            &__price {
                display: flex;
                justify-content: center;
            }
        
            &__qty {
                display: flex;
                flex-direction: row;
                justify-content: center;
                input {
                    max-width: 30%;
                    height: 40px;
                    padding: 10px;
                }
            }
        
            &__subtotal {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-end;
        
                &-value {
        
                }
        
                &-remove {
                    background: #f2f2f2;
                    border: 1px solid #cdcdcd;
                    color: #333;
                    cursor: pointer;
                    display: inline-block;
                    font-family: 'Open Sans','Open Sans';
                    font-weight: 700;
                    margin: 0;
                    padding: 7px 15px;
                    font-size: 1.4rem;
                    line-height: 1.6rem;
                    box-sizing: border-box;
                    vertical-align: middle;
        
                    &:hover {
                        background-color: #e80621;
                        color: #fff;
                        border-color: transparent;
                    }
                }

                &-trash {
                    background: #f2f2f2;
                    border: 1px solid #cdcdcd;
                    color: #333;
                    cursor: pointer;
                    display: inline-block;
                    font-family: 'Open Sans','Open Sans';
                    font-weight: 700;
                    margin: 0;
                    padding: 10px 15px;
                    font-size: 1.4rem; 
                    line-height: 1.6rem;
                    box-sizing: border-box;
                    vertical-align: middle;
                    display: none;
                    &:hover {
                        background-color: #e80621;
                        color: #fff;
                        border-color: transparent;
                    }
                }
            }

            &__control {
                display: none;
                width: 100%;
                justify-content: flex-end;
                margin-top: 15px;
                &-remove {
                    background: #f2f2f2;
                    border: 1px solid #cdcdcd;
                    color: #333;
                    cursor: pointer;
                    display: inline-block;
                    font-family: 'Open Sans','Open Sans';
                    font-weight: 700;
                    margin: 0;
                    padding: 7px 15px;
                    font-size: 1.4rem;
                    line-height: 1.6rem;
                    box-sizing: border-box;
                    vertical-align: middle;
        
                    &:hover {
                        background-color: #e80621;
                        color: #fff;
                        border-color: transparent;
                    }
                }
            }
        
            .body-item {
                width: 15%;
            }
        
            .body-empty {
                width: 30%;
            }
        
            .body-price {
                width: 10%;
            }
        
            .body-qty {
                width: 25%;
            }
        
            .body-subtotal {
                width: 20%;
            }
        }
    
        .payment-wrapper {
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-bottom: 30px;
            align-items: flex-start;
        
            .proceed-checkout {
                font-size: 2.2rem;
                min-width: 150px;
                background: #2d265a;
                height: 48px;
                padding: 0 15px;
                border: none;
                color: #fff;
                font-weight: 700;
                
                &:hover {
                    background-color: #f90f2b;
                }
            }
        }

        .empty-cart {
            &__message {
                color: #595e6f;
                font-size: 1.4rem;
            }

            &__link {
                margin-top: 15px;
                font-size: 1.3rem;
                display: block;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    
    .card__header {
        font-size: 30px;
        margin: 20px 0 40px 0;
        color: #595e6f;
        font-family: 'Open Sans',sans-serif;
        font-weight: normal;
    }
}

@media only screen and (max-width: 1000px) {
    .cart {
        .cart__body {
            flex-direction: column;

            .items {
                width: 100%;
                padding-right: 0px;
            }
        
            .payment-wrapper {
                width: 50%;
                margin-top: 30px;            
                .proceed-checkout {
                    margin-top: 20px;
                }
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    .cart {
        .cart__body {
            .item {
                &__subtotal {
                    &-remove {
                        display: none;
                    }

                    &-trash {
                        display: block;
                    }
                }
            }
        
            .payment-wrapper {
                width: 70%;
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .cart {
        .cart__body {
            .items {
                &__header {
                    display: none;
                }
                &__control {
                    margin: 15px 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                &__continue {
                    min-width: 236px;
                }
                &__update {
                    min-width: 236px;
                    margin-left: 0px;
                    margin-top: 15px;
                }
            }

            .item {
                flex-direction: column;

                &__control {
                    display: flex;
                    width: 100%;
                }

                &__picture {
                    img {
                        max-width: 40%;
                    }
                }

                &__subtotal {
                    &-remove {
                        display: none;
                    }

                    &-trash {
                        display: none;
                    }
                }

                .item-label {
                    display: block;
                }

                .body-item {
                    padding: 10px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                }
            
                .body-empty {
                    padding: 10px;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            
                .body-price {
                    padding: 10px;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            
                .body-qty {
                    padding: 10px;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            
                .body-subtotal {
                    padding: 10px;
                    width: 100%;
                    flex-direction: row;
                    align-items: center;
                }
            }

            .payment-wrapper {
                width: 90%;
                margin: 0 auto;            
                .proceed-checkout {
                    margin: 0 auto;
                }
            }
        }

        .card__header {
            margin: 10px 0;
        }
    }
}
