
.item-card {
    width: 100%;
    display: flex;
}

.header-card {
    font-size: 30px;
    margin: 20px 0 40px 0;
    color: #595e6f;
    font-family: 'Open Sans',sans-serif;
    font-weight: normal;
}

.items {
    height: 100%;
    padding-right: 10;
    font-size: 17px;
    width: 70%;
    padding-right: 40px;

    &__header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #d1d1d1;
        
        .header-item {
            width: 15%;
        }

        .header-empty {
            width: 35%;
        }

        .header-price {
            width: 10%;
        }

        .header-qty {
            width: 25%;
        }

        .header-subtotal {
            width: 15%;
        }
    }

    &__cell {
        font-weight: 700;
    }

    &__control {
        margin: 30px 0;
    }

    &__continue {
        background: #fa4157;
        border: 0;
        color: #fff;
        display: inline-block;
        padding: 0 20px;
        line-height: 48px;
        height: 48px;
        font-weight: bold;
        border-radius: 5px;
        font-size: 1.7rem;
        font-family: 'Open Sans',sans-serif;

        color: #fa4157;
        background: #fff;
        border: 1px solid #fa4157;
    }

    &__update {
        background: #fa4157;
        border: 0;
        color: #fff;
        display: inline-block;
        padding: 0 20px;
        line-height: 48px;
        height: 48px;
        font-weight: bold;
        border-radius: 5px;
        font-size: 1.7rem;
        font-family: 'Open Sans',sans-serif;

        color: #fa4157;
        background: #fff;
        border: 1px solid #fa4157;
        margin-left: 30px;
    }
}

.payment-wrapper {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;
    align-items: flex-start;

    .proceed-checkout {
        font-size: 2.2rem;
        min-width: 150px;
        background: #2d265a;
        height: 48px;
        padding: 0 15px;
        border: none;
        color: #fff;
        font-weight: 700;
        
        &:hover {
            background-color: #f90f2b;
        }
    }
}

.item {
    display: flex;
    margin-bottom: 10;
    justify-content: space-between;
    border-bottom: 1px solid #d1d1d1;
    padding: 15px 0;
    
    &__picture {
        width: 15%;

        img {
            max-width: 100%;
            height: auto;
            width: 100%;
        }
    }

    &__name {
        div {
            padding-left: 20px;
        }
    }   

    &__price {
        display: flex;
        justify-content: center;
    }

    &__qty {
        display: flex;
        flex-direction: row;
        justify-content: center;
        input {
            max-width: 30%;
            height: 40px;
            padding: 10px;
        }
    }

    &__subtotal {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        &-value {

        }

        &-remove {
            background: #f2f2f2;
            border: 1px solid #cdcdcd;
            color: #333;
            cursor: pointer;
            display: inline-block;
            font-family: 'Open Sans','Open Sans';
            font-weight: 700;
            margin: 0;
            padding: 7px 15px;
            font-size: 1.4rem;
            line-height: 1.6rem;
            box-sizing: border-box;
            vertical-align: middle;

            &:hover {
                background-color: #e80621;
                color: #fff;
                border-color: transparent;
            }
        }
    }

    .body-item {
        width: 15%;
    }

    .body-empty {
        width: 35%;
    }

    .body-price {
        width: 10%;
    }

    .body-qty {
        width: 25%;
    }

    .body-subtotal {
        width: 15%;
    }
}

