<div class="cart">
    <h1 class="card__header">{{'cart.shoppingCart' | translate}}</h1>
    <div class="cart__body">
        <ng-container *ngIf="cart?.lines.length">
            <div class="items">
                <div class="items__header">
                    <div class="items__cell header-item">{{'cart.captionItem' | translate}}</div>
                    <div class="items__cell header-empty"></div>
                    <div class="items__cell header-price">{{'cart.captionPrice' | translate}}</div>
                    <div class="items__cell header-qty">{{'cart.captionQty' | translate}}</div>
                    <div class="items__cell header-subtotal">{{'cart.captionSubtotal' | translate}}</div>
                </div>
                <ng-container *ngFor="let line of cart?.lines; trackBy: trackByFn">
                    <div class="item">
                        <div class="item__picture body-item">
                            <img [src]="line.featuredAsset?.preview + '?preset=tiny'">
                        </div>
                        <div class="item__name body-empty">
                            <div class="item-label">{{'cart.captionItem' | translate}}</div>
                            <div>{{ line.productVariant?.name }}</div>
                        </div>
                        <div class="item__price body-price">
                            <div class="item-label">{{'cart.captionPrice' | translate}}</div>
                            <div>{{ line.unitPriceWithTax | formatPrice }}</div>
                        </div>
                        <div class="item__qty body-qty">
                            <div class="item-label">{{'cart.captionQty' | translate}}</div>
                            <input type="number" [(ngModel)]="line.quantity" (change)="setQuantity(line)">
                        </div>
                        <div class="item__subtotal body-subtotal">
                            <div class="item-label">{{'cart.captionSubtotal' | translate}}</div>
                            <span class="item__subtotal-value">{{ line.totalPrice | formatPrice }}</span>
                            <button class="item__subtotal-remove" (click)="removeLine(line)">
                                {{'cart.removeItem' | translate}}
                            </button>
                            <button class="item__subtotal-trash" (click)="removeLine(line)">
                                <fa-icon icon="trash"></fa-icon>
                            </button>
                        </div>
                        <div class="item__control">
                            <button class="item__control-remove" (click)="removeLine(line)">
                                {{'cart.removeItem' | translate}}
                            </button>
                        </div>
                    </div>
                </ng-container>
                <div class="items__control">
                    <button class="items__continue">
                        <fa-icon icon="chevron-left"></fa-icon>
                        {{'cart.continueShopping' | translate}}
                    </button>
                    <button class="items__update">
                        <fa-icon icon="sync-alt"></fa-icon>
                        {{'cart.updateShopping' | translate}}
                    </button>
                </div>
            </div>
            <div class="payment-wrapper">
                <bv-paypal-control></bv-paypal-control>
                <button class="proceed-checkout" [routerLink]="['./shipping']">
                    {{'cart.proceedCheckout' | translate}}
                </button>
            </div>
        </ng-container>

        <ng-container *ngIf="!cart?.lines.length">
            <div class="empty-cart">
                <div class="empty-cart__message">{{'cart.emptyCart' | translate}}</div>
                <a class="empty-cart__link" routerLink="/">{{'cart.continueShopping' | translate}}</a>
            </div>
        </ng-container>
    </div>
</div>

