<div class="header-wrapper">
    <ng-content select="bv-layout-header"></ng-content>
</div>
<div class="content">
    <ng-content></ng-content>
    <!-- <div class="lds-spinner" *ngIf="load">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div> -->
</div>
<div class="footer-wrapper">
    <ng-content select="bv-layout-footer"></ng-content>
</div>
