.confirm-modal {
    width: 40%;
    height: auto;
    font-family: 'Open Sans',sans-serif;
    background-color: #fff;
}

.confirm-modal__header {
    padding: 15px 0;
}

.confirm-modal__body {
    padding: 15px 0;
    color: #595e6f;
    font-size: 1.3rem;
}

.confirm-modal__footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    button {
        background: #fa4157;
        padding: 0 20px;
        line-height: 48px;
        height: 48px;
        font-weight: 700;
        color: #fff;
        border: 0;
        border-radius: 5px;
        font-size: 1.7rem;

        &:last-child {
            margin-left: 20px;
        }
    }
}