:host {
    width: 100%;
}

.shipping {
    font-size: 16px;
    font-family: 'Open Sans',sans-serif;
    color: #595e6f;
    width: 100%;
    padding-right: 50px;
    padding-bottom: 40px;

    &__header {
        font-size: 2.5rem;
        font-weight: 500;
        padding: 10px 10px 10px 0px;
        width: 100%;
        display: block;
        border-bottom: 1px solid #ccc;
        margin: 0;
        margin-bottom: 25px;
    }

    &__form {
        width: 100%;
    }

    &__methods {
        width: 100%;
        margin-bottom: 40px;
        margin-top: 40px;
        .methods-table {
            display: flex;
            flex-direction: column;
            width: 100%;

            &__header {
                display: flex;
                width: 100%;
                justify-content: space-between;
                font-size: 1.3rem;
                font-weight: 600;
                padding-bottom: 25px;
            }

            &__row {
                display: flex;
                width: 100%;
                justify-content: space-between;
                font-size: 1.3rem;
                padding: 10px 0;
            }

            &__cell {
                flex: 1;
                width: 25%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    &__control {
        display: flex;
        justify-content: flex-end;

        button {
            border: 0;
            color: #fff;
            text-transform: capitalize;
            padding: 10px 45px;
            font-weight: 700;
            background-color: #2d265a;
            font-size: 1.9rem;

            &:hover {
                background-color: #fa4157;
            }
        }
    }
}

.form {
    width: 100%;

    &__group {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-end;
        padding: 0 40px;
        &:last-child {
            margin-top: 30px;
        }
    }

    .field-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        flex-wrap: wrap;

        &__control {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        &__label {
            width: 30%;
            font-size: 1.2rem;
            min-width: 25%;
            i {
                margin-left: 10px;
                color: red;
            }
        }

        &__input {
            width: 70%;
            background: #fff;
            background-clip: padding-box;
            border: 1px solid #c2c2c2;
            border-radius: 1px;
            font-family: 'Open Sans','Open Sans';
            font-size: 14px;
            height: 32px;
            line-height: 1.42857143;
            padding: 0 9px;
            vertical-align: baseline;
            width: 100%;
            box-sizing: border-box;
    
            &:focus {
                outline: 0;
                border: 1px solid #d7d7d7;
                box-shadow: 0 1px 5px rgba(0,0,0,.1);
            }

            &.ng-invalid.ng-touched{
                border: 1px solid red;
            }

            &.ng-valid.ng-touched{
                border: 1px solid green;
            }
        }

        &__error {
            width: 100%;
            font-size: 12px;
            padding: 5px 0 0 0;
            padding-left: 25%;
            display: flex;
            flex-direction: column;
            max-height: 0px;
            overflow: hidden;
            transition: max-height 0.3s linear;
            height: auto;
            &-item {
                color: red
            }
        }

        .errors-expanded {
            max-height: 100px;
        }
    }

    &__error {
        width: 100%;
        font-size: 14px;
        &-item {
            color: red
        }
    }

    .header {
        font-size: 1.8rem;
        font-weight: 500;
        padding: 10px;
        width: 95%;
        display: block;
        border-bottom: 1px solid #ccc;
        margin: 0;
        margin-bottom: 25px;
    }

    .header-street {
        font-size: 1.8rem;
        font-weight: 500;
        padding: 10px;
        width: 100%;
        display: block;
        margin: 0px;
        padding-left: 0px;
        padding-bottom: 15px;
    }

    .info {
        margin-left: 20px;
        font-size: 20px;
        position: relative;
        cursor: pointer;

        &:hover {
            color: #a4a8b4;

            .info__tooltip {
                color: #595e6f !important;
            }
        }

        &__tooltip {
            width: 180px;
            background-color: rgb(233, 233, 233);
            position: absolute;
            font-size: 1.4rem;
            padding: 10px;
            line-height: 1.4;
            left: 35px;
            top: -5px;
            display: none;

            &:after {
                content: "";
                display: block;
                border: solid 10px transparent;
                border-right: solid 10px rgb(233, 233, 233);;
                position: absolute;
                top: 10px;
                left: -20px;
            }

            &:hover {
                color: #595e6f !important;
            }
        }
    }

    .display {
        display: block;
    }

    .street-field {
        padding-bottom: 30px !important;
        margin-bottom: 30px !important;
        border-bottom: 1px solid #ccc;
    }
}

@media only screen and (max-width: 1000px) {
    .shipping {
        padding-right: 20px;
    }
}

@media only screen and (max-width: 900px) {
    .shipping {
        order: 1;
        width: 100%;
        margin: 0 auto;
        margin-top: 50px;

        &__methods {
            padding-top: 20px;
            margin-top: 0px;
        }
    }
}

@media only screen and (max-width: 700px) {
    .shipping {
        padding-right: 0px;
    }
}

@media only screen and (max-width: 600px) {
    .shipping {
        width: 100%;
        padding-right: 0px;
    }

    .form {
        width: 100%;

        &__group {
            padding: 0px;
        }
    }
}


@media only screen and (max-width: 500px) {
    .form {
        .field-wrapper {
            &__control {
                flex-wrap: wrap;
            }
    
            &__label {
                width: 100%;
            }
    
            &__input {
                flex:1;
            }

            &__error {
                padding-left: 0;
            }
        }
    }

    .shipping {
        &__methods {
            .methods-table {
                &__header {
                    .cell-header {
                        &:first-child {
                            max-width: 15%;
                        }
                    }
                }

                &__row {
                    .cell-row {
                        &:first-child {
                            max-width: 15%;
                        }
                    }
                }
            }
        }
    }
}