
<div class="shipping">
    <div class="shipping__form">
        <div class="shipping__header">
            {{'shippingAddress.title' | translate}}
        </div>
        <form class="form" [formGroup]="addressForm">
            <div class="form__group">
                <div class="field-wrapper">
                    <div class="field-wrapper__control">
                        <label for="emailAddress" class="field-wrapper__label">{{'shippingAddress.emailAddress' | translate}}<i>*</i></label>
                        <input class="field-wrapper__input" formControlName="emailAddress" id="emailAddress">
                        <span class="info" (click)="viewTolltip()">
                            <fa-icon icon="question-circle"></fa-icon>
                            <div class="info__tooltip" [ngClass]="{'display': displayTooltip}">{{'shippingAddress.tooltip' | translate}}</div>
                        </span>
                    </div>
                    <div class="field-wrapper__error" [ngClass]="{'errors-expanded': errors['emailAddress']}">
                        <span class="field-wrapper__error-item" *ngIf="errors['emailAddress']?.required">This is a required field.</span>
                        <span class="field-wrapper__error-item" *ngIf="errors['emailAddress']?.email">Please enter a valid email address (Ex: johndoe@domain.com).</span>
                    </div>
                </div>
                <div class="field-wrapper">
                    <div class="field-wrapper__control">
                        <label for="firstName" class="field-wrapper__label">{{'shippingAddress.firstName' | translate}}<i>*</i></label>
                        <input class="field-wrapper__input" formControlName="firstName" id="firstName">
                    </div>
                    <div class="field-wrapper__error" [ngClass]="{'errors-expanded': errors['firstName']}">
                        <span class="field-wrapper__error-item" >This is a required field.</span>
                    </div>
                </div>
                <div class="field-wrapper">
                    <div class="field-wrapper__control">
                        <label for="lastName" class="field-wrapper__label">{{'shippingAddress.lastName' | translate}}<i>*</i></label>
                        <input class="field-wrapper__input" formControlName="lastName" id="lastName">
                    </div>
                    <div class="field-wrapper__error" [ngClass]="{'errors-expanded': errors['lastName']}">
                        <span class="field-wrapper__error-item">This is a required field.</span>
                    </div>
                </div>
            </div>

            <div class="form__group">
                <h4 class="header-street">{{'shippingAddress.streetAdress' | translate}}</h4>
                <div class="field-wrapper">
                    <div class="field-wrapper__control">
                        <label for="streetLine1" class="field-wrapper__label">{{'shippingAddress.streetLine1' | translate}}</label>
                        <input class="field-wrapper__input" formControlName="streetLine1" id="streetLine1">
                    </div>
                </div>
                <div class="field-wrapper">
                    <div class="field-wrapper__control">
                        <label for="streetLine2" class="field-wrapper__label">{{'shippingAddress.streetLine2' | translate}}</label>
                        <input class="field-wrapper__input"  formControlName="streetLine2" id="streetLine2">
                    </div>
                </div>
                <!-- <div class="form__field street-field">
                        <label for="streetLine3" class="form__label">Street Line 3</label>
                        <input class="form__input" formControlName="streetLine3" id="streetLine2">
                </div> -->
            </div>

            <div class="form__group">
                <div class="field-wrapper">
                    <div class="field-wrapper__control">
                        <label for="city" class="field-wrapper__label">{{'shippingAddress.city' | translate}}<i>*</i></label>
                        <input class="field-wrapper__input" formControlName="city" id="city">
                    </div>
                    <div class="field-wrapper__error" [ngClass]="{'errors-expanded': errors['city']}">
                        <span class="field-wrapper__error-item">This is a required field.</span>
                    </div>
                </div>
                <div class="field-wrapper">
                    <div class="field-wrapper__control">
                        <label for="province" class="field-wrapper__label">{{'shippingAddress.stateProvince' | translate}}</label>
                        <input class="field-wrapper__input" formControlName="province" id="province">
                    </div>
                </div>
                <div class="field-wrapper">
                    <div class="field-wrapper__control">
                        <label for="postalCode" class="field-wrapper__label">{{'shippingAddress.zipPost' | translate}}</label>
                        <input class="field-wrapper__input" formControlName="postalCode" id="postalCode">
                    </div>
                </div>
                <div class="field-wrapper">
                    <div class="field-wrapper__control">
                        <label for="countryCode" class="field-wrapper__label">{{'shippingAddress.country' | translate}}<i>*</i></label>
                        <select class="field-wrapper__input" formControlName="countryCode" id="countryCode">
                            <option *ngFor="let country of availableCountries" [ngValue]="country.code">
                                {{ country.name }}
                            </option>
                        </select>
                    </div>
                    <div class="field-wrapper__error" [ngClass]="{'errors-expanded': errors['countryCode']}">
                        <span class="field-wrapper__error-item">This is a required field.</span>
                    </div>
                </div>
                <div class="field-wrapper">
                    <div class="field-wrapper__control">
                        <label for="phoneNumber" class="field-wrapper__label">{{'shippingAddress.phoneNumber' | translate}}<i>*</i></label>
                        <input class="field-wrapper__input"formControlName="phoneNumber" id="phoneNumber">
                    </div>
                    <div class="field-wrapper__error" [ngClass]="{'errors-expanded': errors['phoneNumber']}">
                        <span class="field-wrapper__error-item">This is a required field.</span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="shipping__methods">
        <div class="shipping__header">
            {{'shippingAddress.shippingMethod' | translate}}
        </div>
        <div class="methods-table">
            <div class="methods-table__header">
                    <div class="methods-table__cell cell-header">{{'shippingAddress.selectMethod' | translate}}</div>
                    <div class="methods-table__cell cell-header">{{'shippingAddress.price' | translate}}</div>
                    <div class="methods-table__cell cell-header">{{'shippingAddress.shipping' | translate}}</div>
                    <div class="methods-table__cell cell-header">{{'shippingAddress.typeDelivery' | translate}}</div>
            </div>
            <div class="methods-table__row" *ngFor="let method of eligibleShippingMethods$ | async">
                    <div class="methods-table__cell cell-row">
                        <input class="form-check-input"
                        type="radio"
                        [checked]="shippingMethodId === method.id"
                        (change)="setShippingMethod(method)"
                        >
                    </div>
                    <div class="methods-table__cell cell-row"><div class="price">{{ method.price / 100 | currency }}</div></div>
                    <div class="methods-table__cell cell-row">{{method.description}}</div>
                    <div class="methods-table__cell cell-row">{{'shippingAddress.typeDelivery' | translate}}</div>
            </div>
        </div>
    </div>
    <div class="shipping__control">
        <!-- [disabled]="!shippingMethodId || addressForm.invalid"  -->
        <button
            (click)="proceedToPayment(addressForm.value)">{{'shippingAddress.next' | translate}}</button>
    </div>
</div>

